{
  "swagger": "2.0",
  "info": {
    "title": "API Reference",
    "version": "6.0"
  },
  "host": "onpremise-demo.boldbi.com",
  "basePath": "/bi/api/site/site1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Authentication"
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate User",
        "description": "Please authenticate with a user password.",
        "operationId": "Authentication",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "grant_type",
            "in": "formData",
            "required": true,
            "x-nullable": false,
            "description": "The type of credentials used to authorize the request for an access token. (Use \"password\")"
          },
          {
            "type": "string",
            "name": "username",
            "in": "formData",
            "required": true,
            "x-nullable": false,
            "description": "Email address of the user. (Use guest@boldbi.com for this demo API)"
          },
          {
            "type": "string",
            "name": "password",
            "in": "formData",
            "required": true,
            "x-nullable": false,
            "description": "Password of the user. (Use Demo759! for this demo API)"
          }
        ],
        "responses": {
          "200": {
            "description": "User logged in successfully.",
            "schema": {
              "$ref": "#/definitions/Response"
            },
            "x-nullable": true
          },
          "400": {
            "description": "Email address is empty"
          },
          "404": {
            "description": "User detail not found."
          },
          "405": {
            "description": "Request type was not POST"
          }
        }
      }
    },
    "/v6.0/dashboards/schedules": {
      "post": {
          "tags": [
              "Schedule"
          ],
          "summary": "Add Dashboard Schedule",
          "description": "Users who have create access to the schedule can add a new dashboard schedule.",
          "operationId": "Dashboards_AddSchedule",
          "requestBody": {
              "description": "Details about the schedule that was passed will be added.",
              "content": {
                  "application/json": {
                      "schema": {
                          "$ref": "#/definitions/ApiScheduleRequest"
                      }
                  }
              },
              "required": true
          },
          "responses": {
              "200": {
                  "description": "The schedule was created successfully.",
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/definitions/ApiScheduleResponse"
                          }
                      }
                  }
              },
              "400": {
                  "description": "The content of the request body is missing or incomplete.",
                  "content": {}
              },
              "401": {
                  "description": "Access denied.",
                  "content": {}
              },
              "405": {
                  "description": "Request type was not POST.",
                  "content": {}
              },
              "406": {
                  "description": "The content of the request body is invalid.",
                  "content": {}
              },
              "409": {
                  "description": "Item name already exists.",
                  "content": {}
              },
              "412": {
                  "description": "FTP details invalid.",
                  "content": {}
              },
              "417": {
                  "description": "Failed to add schedule.",
                  "content": {}
              }
          },
          "x-codegen-request-body-name": "apiScheduleRequest"
      }
   },
    "/v6.0/dashboards/schedules/{scheduleId}": {
      "put": {
          "tags": [
              "Schedule"
          ],
          "summary": "Update Dashboard Schedule",
          "description": "Users who have write access to the schedule can update an existing dashboard schedule.",
          "operationId": "Dashboards_UpdateSchedule",
          "parameters": [
              {
                  "name": "scheduleId",
                  "in": "path",
                  "description": "Schedule ID.",
                  "required": true,
                  "style": "simple",
                  "explode": false,
                  "schema": {
                      "type": "string",
                      "format": "guid",
                      "nullable": false
                  }
              }
          ],
          "requestBody": {
              "description": "Details about the schedule that was passed will be updated.",
              "content": {
                  "application/json": {
                      "schema": {
                          "$ref": "#/definitions/ApiUpdateScheduleRequest"
                      }
                  }
              },
              "required": true
          },
          "responses": {
              "200": {
                  "description": "The schedule was modified successfully.",
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/definitions/ApiScheduleResponse"
                          }
                      }
                  }
              },
              "400": {
                  "description": "The content of the request body is missing or incomplete.",
                  "content": {}
              },
              "401": {
                  "description": "Access denied.",
                  "content": {}
              },
              "404": {
                  "description": "Item details not found.",
                  "content": {}
              },
              "405": {
                  "description": "Request type was not PUT.",
                  "content": {}
              },
              "406": {
                  "description": "The content of the request body is invalid.",
                  "content": {}
              },
              "409": {
                  "description": "Item name already exists.",
                  "content": {}
              },
              "412": {
                  "description": "FTP details invalid.",
                  "content": {}
              },
              "417": {
                  "description": "Failed to update schedule.",
                  "content": {}
              },
              "500": {
                  "description": "Error in the database while executing the query.",
                  "content": {}
              }
          },
          "x-codegen-request-body-name": "apiUpdateScheduleRequest"
      }
    } 
  },
 "definitions": {
   "Response": {
      "type": "object",
      "properties": {
          "access_token": {
              "type": "string",
              "description": "Authentication token of the user."
          },
          "token_type": {
              "type": "string",
              "description": "Type of token assigned by the authorization server."
          },
          "expires_in": {
              "type": "string",
              "description": "The lifetime in seconds of the access token."
          },
          "Email": {
              "type": "string",
              "description": "Email of the authenticated user."
          }
      },
      "x-typeName": "Response"
  },
  "PasswordAuth": {
      "required": [
          "grant_type",
          "password",
          "username"
      ],
      "properties": {
          "username": {
              "type": "string",
              "description": "Email address of the user.",
              "nullable": false
          },
          "password": {
              "type": "string",
              "description": "Password of the user",
              "nullable": false
          },
          "grant_type": {
              "type": "string",
              "description": "The type of credentials used to authorize the request for an access token.<br />Value allowed is <code>password</code>",
              "nullable": false
          }
      }
  },
  "EmbedSecretAuth": {
      "required": [
          "embed_secret",
          "grant_type",
          "username"
      ],
      "properties": {
          "username": {
              "type": "string",
              "description": "Email address of the user.",
              "nullable": false
          },
          "embed_secret": {
              "type": "string",
              "description": "Embed secret of the site",
              "nullable": false
          },
          "grant_type": {
              "type": "string",
              "description": "The type of credentials used to authorize the request for an access token.<br />Value allowed is <code>embed_secret</code>",
              "nullable": false
          }
      }
  },
  "ApiScheduleRequest": {
      "required": [
          "ExportType",
          "ItemId",
          "Name",
          "NeverEnd",
          "ScheduleType",
          "StartTime",
          "UserList",
          "GroupList",
          "ExternalRecipientsList"
      ],
      "type": "object",
      "properties": {
          "Name": {
              "type": "string",
              "description": "Schedule name."
          },
          "Description": {
              "type": "string",
              "description": "Schedule description."
          },
          "ItemId": {
              "type": "string",
              "description": "Item ID.",
              "format": "guid"
          },
          "DashboardViewId":{
              "type":"string",
              "description": "Specifies the View ID to schedule that specific dashboard view.",
              "format": "guid"
          },
          "DashboardWidgetId":
          {
              "type":"string",
              "description": "Specifies the Widget ID to schedule that specific dashboard widget.",
              "format": "guid"
          },
          "Parameter":
          {
              "type":"string",
              "description": "Specifies the parameter."
          },
          "EmailTemplateId": {
              "type": "integer",
              "description": "Specifies the email template Id.",
              "format": "int32"
          },
          "IsEnableEmailCustomization": {
              "type": "boolean",
              "description": "Returns true, if the schedule email customization is enabled."
          },
          "ExportType": {
              "type": "string",
              "description": "Specifies the export type to schedule the dashboard.<br />Values allowed are <code>Excel, Pdf, Image</code>"
          },
          "StartTime": {
              "type": "string",
              "description": "Specifies the UTC start date-time of schedule.<br />The format should be ISO 8601 i.e. `yyyy-MM-ddTHH:mm:ssZ`."
          },
          "NeverEnd": {
              "type": "boolean",
              "description": "When set to true, it creates a schedule with no end.\n\n**Note:** By default, the NeverEnd is set to true. To set the end time for the schedule, fill the properties of either EndAfterOccurrence or EndDate; otherwise remains empty."
          },
          "EndAfterOccurrence": {
              "type": "integer",
              "description": "Specifies the number of occurrences after which the schedule will be completed.\n\n**For example:** If you provide 5, the schedule will end after the completion of 5 occurrences.",
              "format": "int32"
          },
          "EndDate": {
              "type": "string",
              "description": "Specifies the UTC end date-time of schedule, after which schedule will be completed. The format should be ISO 8601 i.e. `yyyy-MM-ddTHH:mm:ssZ`.\n\n**For example:** If you provide an end date-time, the schedule will end when the end date-time is reached."
          },
          "UserList": {
              "type": "array",
              "description": "Provides a list of email addresses or user IDs to the recipients who will get the schedules.",
              "items": {
                  "type": "string"
              }
          },
          "GroupList": {
              "type": "array",
              "description": "Provides a list of group IDs to the recipients in the group list who will get the schedules.",
              "items": {
                  "type": "integer",
                  "format": "int32"
              }
          },
          "ExternalRecipientsList": {
              "type": "array",
              "description": "Provides a list of email addresses to the email recipients who will get the schedules. ",
              "items": {
                  "type": "string"
              }
          },
          "ScheduleType": {
              "type": "string",
              "description": "Specifies the schedule type to schedule the dashboard.<br />Values allowed are <code>Hourly, Daily, Weekly, Monthly, Yearly</code>\n\n**Note:** If you choose the schedule type as `Monthly`, provide a value to the `MonthlySchedule` property, and leave the (HourlySchedule, DailySchedule, WeeklySchedule and YearlySchedule) properties empty."
          },
          "IsEnabled": {
              "type": "boolean",
              "description": "Returns true, if the schedule is enabled."
          },
          "FailureNotificationToOwner": {
              "type": "boolean",
              "description": "Returns true, if the failure notification to an owner is enabled."
          },
          "FailureNotificationToRecipient": {
              "type": "boolean",
              "description": "Returns true, if the failure notification to the recipient is enabled."
          },
          "FailureOccurrence": {
              "type": "integer",
              "description": "Failure occurrence count.",
              "format": "int32"
          },
          "ExportFormatInfo": {
              "description": "Schedule export format information.",
              "$ref": "#/definitions/ScheduleExportFormat"
          },
          "ScheduleExportLocation": {
              "description": "Schedule export location information.",
              "$ref": "#/definitions/ScheduleExportLocation"
          },
          "Email": {
              "description": "Schedule mail information.",
              "$ref": "#/definitions/ApiScheduleEmail"
          },
          "HourlySchedule": {
              "type": "object",
              "description": "Runs the schedules on an hourly basis.",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiHourlySchedule"
                  }
              ]
          },
          "DailySchedule": {
              "type": "object",
              "description": "Runs the schedules on a daily basis. ",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiDailySchedule"
                  }
              ]
          },
          "WeeklySchedule": {
              "type": "object",
              "description": "Runs the schedule on a weekly basis.",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiWeeklySchedule"
                  }
              ]
          },
          "MonthlySchedule": {
              "type": "object",
              "description": "Runs the schedule on a monthly basis.",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiMonthlySchedule"
                  }
              ]
          },
          "YearlySchedule": {
              "type": "object",
              "description": "Runs the schedules on a yearly basis.",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiYearlySchedule"
                  }
              ]
          },
          "EnableDataAlert": {
              "type": "boolean",
              "description": "Returns true, if schedule data alert is enabled."
          },
          "DashboardId": {
              "type": "string",
              "description": "ID of the dashboard (Required if data alert is enabled).",
              "format": "guid"
          },
          "DataSourceName": {
              "type": "string",
              "description": "Name of the data source (Required if data alert is enabled)."
          },
          "WidgetName": {
              "type": "string",
              "description": "Name of the widget (Required if data alert is enabled)."
          },
          "ConditionCategory": {
              "type": "string",
              "description": "Specifies the type of data alert trigger to export the dashboard.<br />Values allowed are <code>Value Changes, Increases, Continuously Increases, Decreases, Continuously Decreases</code> (Required if data alert is enabled)"
          },
          "ConditionalResult": {
              "type": "object",
              "description": "Specifies the result of the filter condition (Required if data alert is enabled).",
              "required": [
                  "ConditionalInformations"
              ],
              "properties": {
                  "ConditionalInformations": {
                      "type": "object",
                      "description": "Specifies the details of the filter condition.",
                      "allOf": [
                          {
                              "$ref": "#/definitions/ConditionalInformations"
                          }
                      ]
                  }
              }
          }
      }
  },
  "ConditionalInformations": {
      "required": [
          "ConditionalInfoColleciton"
      ],
      "properties": {
          "ConditionalInfoColleciton": {
              "type": "array",
              "description": "Specifies the filter configuration.",
              "required": [
                  ""
              ],
              "items": {
                  "$ref": "#/definitions/ConditionalInfoColleciton"
              }
          },
          "GlobalFilters": {
              "type": "array",
              "description": "Specifies the global filters, such as the WHERE condition.",
              "items": {
                  "$ref": "#/definitions/GlobalFilters"
              }
          }
      }
  },
  "ConditionalInfoColleciton": {
      "required": [
          "ConditionJoinType",
          "RelationalOperators",
          "FilterName",
          "LeftOperand"
      ],
      "properties": {
          "ConditionJoinType": {
              "type": "string",
              "description": "Specifies the type of join for the column filter. Determines how multiple filter conditions should be combined.<br />Values allowed are <code>AND, OR, AND NOT, OR NOT</code>"
          },
          "RelationalOperators": {
              "type": "string",
              "description": "Specifies the type of relational operator to use for filtering values in a column.<br />Values allowed are <code>GREATERTHAN, GREATERTHANOREQUALS, LESSTHAN, LESSTHANOREQUALS, EQUALS, NOTEQUALS</code>"
          },
          "IsCustomValue": {
              "type": "boolean",
              "description": "Returns true, if custom filter is enabled."
          },
          "CustomValue": {
              "type": "string",
              "format": "int32",
              "description": "Specifies the custom value.\n\n**Note:** If IsCustomValue is set to true, a custom value must be provided."
          },
          "FilterId": {
              "type": "string",
              "description": "Specifies the filter Id.",
              "format": "guid"
          },
          "FilterName": {
              "type": "string",
              "description": "Specifies the filter name.\n\n**Note:** The syntax for the filter name is in the format Filter(count); for example, Filter1. You can increase the prefix count to add more filters."
          },
          "LeftOperand": {
              "type": "object",
              "description": "Specifies the details of the column to be used for the left-hand side of a filter condition.",
              "properties": {
                  "ColumnName": {
                      "type": "string",
                      "description": "Specifies the column name."
                  }
              }
          },
          "RightOperand": {
              "type": "object",
              "description": "Specifies the details of the column to be used for the right-hand side of a filter condition.\n\n**Note:** If IsCustomValue is set to false, then RightOperand is required.",
              "properties": {
                  "ColumnName": {
                      "type": "string",
                      "description": "Specifies the column name."
                  }
              }
          },
          "Filters": {
              "type": "array",
              "description": "Specifies a filter to be applied to a specific column.",
              "items": {
                  "$ref": "#/definitions/GlobalFilters"
              }
          }
      }
  },
  "GlobalFilters": {
      "required": [
          "JoinType",
          "Field",
          "Condition"
      ],
      "properties": {
          "JoinType": {
              "type": "string",
              "description": "Specifies the type of join for the column filter. Determines how multiple filter conditions should be combined.<br />Values allowed are <code>AND, OR</code>"
          },
          "Field": {
              "type": "object",
              "description": "Specifies the structure and details of the columns used for filtering data.",
              "required": [
                  "ColumnName"
              ],
              "properties": {
                  "ColumnName": {
                      "type": "string",
                      "description": "Specifies the column name."
                  }
              }
          },
          "Condition": {
              "type": "object",
              "description": "Specifies the details of the where condition used to filter data.",
              "required": [
                  "ConditionType",
                  "Conditions",
                  "Values"
              ],
              "properties": {
                  "ConditionType": {
                      "type": "string",
                      "description": "Specifies the type of condition being specified.<br />Values allowed are <code>ACTUAL, CUSTOM</code>"
                  },
                  "Conditions": {
                      "type": "string",
                      "description": "Specifies the condition to be applied on the column.<br />Values allowed are <code>CONTAINS, START WITH, ENDS WITH, NOT CONTAINS, INCLUDES, EXCLUDES</code>"
                  },
                  "Values": {
                      "type": "array",
                      "description": "Specifies the column values.",
                      "items": {
                          "type": "string",
                          "format": "string"
                      }
                  }
              }
          }
      }
  },
  "ScheduleExportFormat": {
      "type": "object",
      "properties": {
          "Size": {
              "type": "string",
              "description": "PDF page size.<br />Values allowed are <code>A3, A4, A5, Letter</code>",
              "default": "A4"
          },
          "Orientation": {
              "type": "string",
              "description": "PDF page orientation.<br />Values allowed are <code>Landscape, Portrait</code>",
              "default": "Landscape"
          },
          "Extension": {
              "type": "string",
              "description": "Excel or Image extension.<br />Values allowed for Excel file are <code>xlsx, xls</code><br />Values allowed for Image file are <code>jpg, png</code>",
              "default": "xlsx for Excel and jpg for image"
          },
          "Resolution": {
              "type": "integer",
              "description": "Image file resolution.",
              "format": "int32",
              "default": 100
          }
      },
      "description": "Schedule export format information."
  },
  "ScheduleExportLocation": {
      "type": "object",
      "properties": {
          "FtpURL": {
              "type": "string",
              "description": "Use the FTP URL to save the exported file."
          },
          "FtpUsername": {
              "type": "string",
              "description": "FTP username."
          },
          "FtpPassword": {
              "type": "string",
              "description": "FTP password."
          }
      },
      "description": "Schedule export location information."
  },
  "ApiScheduleEmail": {
      "type": "object",
      "properties": {
          "Subject": {
              "type": "string",
              "description": "Specifies Schedule Email subject."
          },
          "Body": {
              "type": "string",
              "description": "Specifies Schedule Email body."
          }
      },
      "description": "Schedule mail information."
  },
  "ScheduleExportLocationResponse": {
      "type": "object",
      "properties": {
          "FtpURL": {
              "type": "string",
              "description": "Use the FTP URL to save the exported file."
          },
          "FtpUsername": {
              "type": "string",
              "description": "FTP username."
          }
      },
      "description": "Schedule export location information."
  },
  "ApiHourlySchedule": {
      "required": [
          "ScheduleInterval"
      ],
      "type": "object",
      "properties": {
          "ScheduleInterval": {
              "type": "string",
              "description": "Specifies the hour interval. Based on this interval, the schedule will run continuously until the end time. The format should be `HH:mm`"
          }
      },
      "description": "Runs the schedules on an hourly basis."
  },
  "ApiDailySchedule": {
      "required": [
          "EveryNdays",
          "EveryWeekday",
          "RecurrenceType"
      ],
      "type": "object",
      "properties": {
          "RecurrenceType": {
              "type": "string",
              "description": "Specifies the recurrence type, whether the schedule recurs every day or every working day.<br />Values allowed are <code>EveryNdays, EveryWeekday</code>\n\n**Note:** If you choose the recurrence type as EveryNdays, provide a value to the EveryNdays property, and leave the (EveryWeekday) property empty."
          },
          "EveryNdays": {
              "type": "integer",
              "description": "Specifies the day interval the schedule recurs.\n\n**For example:** If you provide 2, the schedule recurs every 2 days.",
              "format": "int32"
          },
          "EveryWeekday": {
              "type": "boolean",
              "description": "For the schedule to recur every working day, set to true."
          }
      },
      "description": "Runs the schedules on a daily basis."
  },
  "ApiWeeklySchedule": {
      "required": [
          "RecurrenceDays",
          "RecurrenceWeeks"
      ],
      "type": "object",
      "properties": {
          "RecurrenceWeeks": {
              "type": "integer",
              "description": "Specifies the week interval the schedule recurs.\n\n**For example:** If you provide 2, the schedule will recur every 2 weeks.  ",
              "format": "int32"
          },
          "RecurrenceDays": {
              "type": "array",
              "description": "Specifies the list of days the schedule recurs.<br />Values allowed are <code>Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday</code>\n\n**For example:** If you provide `Sunday`, the schedule will recur sunday's of every 2 weeks.",
              "items": {
                  "type": "string"
              }
          }
      },
      "description": "Runs the schedule on a weekly basis."
  },
  "ApiMonthlySchedule": {
      "required": [
          "RecurrenceType"
      ],
      "type": "object",
      "properties": {
          "RecurrenceType": {
              "type": "string",
              "description": "Specifies the recurrence type, whether the schedule recurs on a day basis or on the customized day basis.<br />Values allowed are <code>DayRecurrence, CustomRecurrence</code>\n\n**Note:** If you choose the recurrence type as DayRecurrence, provide a value to the `DayRecurrence` property and leave the (CustomRecurrence) property empty."
          },
          "DayRecurrence": {
              "type": "object",
              "description": "The schedule recurs on the day specified on the month interval.",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiMonthlyScheduleDayRecurrence"
                  }
              ]
          },
          "CustomRecurrence": {
              "type": "object",
              "description": "The schedule recurs on the customized day of the specified month interval.",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiMonthlyScheduleCustomRecurrence"
                  }
              ]
          }
      },
      "description": "Runs the schedule on a monthly basis."
  },
  "ApiMonthlyScheduleDayRecurrence": {
      "required": [
          "DayInterval",
          "MonthInterval"
      ],
      "type": "object",
      "properties": {
          "DayInterval": {
              "type": "integer",
              "description": "Specifies the number of day interval the schedule recurs.\n\n**For example:** If you provide 10, the schedule will recur every 10th day. ",
              "format": "int32"
          },
          "MonthInterval": {
              "type": "integer",
              "description": "Specifies the number of month interval the schedule recurs.\n\n**For example:** If you provide 3, the schedule will recur 10th day of every 3 months.",
              "format": "int32"
          }
      },
      "description": "The schedule recurs on the day specified on the month interval."
  },
  "ApiMonthlyScheduleCustomRecurrence": {
      "required": [
          "DayOfWeek",
          "MonthInterval",
          "WeekOfMonth"
      ],
      "type": "object",
      "properties": {
          "WeekOfMonth": {
              "type": "string",
              "description": "Specifies the week of the month the schedule recurs.<br />Values allowed are <code>first, second, third, fourth, last</code>\n\n**For example:** If you provide second, the schedule will recur on the second week."
          },
          "DayOfWeek": {
              "type": "string",
              "description": "Specifies the day of the week the schedule recurs.<br />Values allowed are <code>day, weekday, weekendday, Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday</code>\n\n**For example:** If you provide Sunday, the schedule will recur on the second week of sunday."
          },
          "MonthInterval": {
              "type": "integer",
              "description": "Specifies the number of month interval the schedule recurs.\n\n**For example:** If you provide 5, the schedule will recur second week of sunday's of every 5 months.",
              "format": "int32"
          }
      },
      "description": "The schedule recurs on the customized day of the specified month interval."
  },
  "ApiYearlySchedule": {
      "required": [
          "RecurrenceType",
          "YearInterval"
      ],
      "type": "object",
      "properties": {
          "YearInterval": {
              "type": "integer",
              "description": "Specifies the number of years the schedule recurs.\n\n**For example:** If you provide 5, the schedule will recur every 5 years.",
              "format": "int32"
          },
          "RecurrenceType": {
              "type": "string",
              "description": "Specifies the recurrence type, whether the schedule recurs on a month basis or on the customized month basis.<br />Values allowed are <code>MonthRecurrence, CustomRecurrence</code>\n\n**Note:** If you choose the recurrence type as MonthRecurrence, provide a value to the `MonthRecurrence` property, and leave the (CustomRecurrence) property empty."
          },
          "MonthRecurrence": {
              "type": "object",
              "description": "The schedule recurs on the month and number of years specified in `YearInterval` property.",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiYearlyScheduleMonthRecurrence"
                  }
              ]
          },
          "CustomRecurrence": {
              "type": "object",
              "description": "The schedule recurs in the customized month based on the number of years provided in the `YearInterval` property.",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiYearlyScheduleCustomRecurrence"
                  }
              ]
          }
      },
      "description": "Runs the schedules on a yearly basis."
  },
  "ApiYearlyScheduleMonthRecurrence": {
      "required": [
          "DayOfMonth",
          "MonthOfYear"
      ],
      "type": "object",
      "properties": {
          "MonthOfYear": {
              "type": "string",
              "description": "Specifies the month the schedule recurs.<br />Values allowed are <code>January, February, March, April, May, June, July, August, September, October, November, December</code>\n\n**For example:** If you provide April, the schedule will recur in April of every year. Here, the (year) is the value provided in the `YearInterval` property."
          },
          "DayOfMonth": {
              "type": "integer",
              "description": "Specifies the day of the month the schedule recurs.\n\n**For example:** If you provide 20, the schedule will recur 20th April of every year.  Here, the (year) is the value provided in the `YearInterval` property.",
              "format": "int32"
          }
      },
      "description": "The schedule recurs on the month and number of years specified in `YearInterval` property."
  },
  "ApiYearlyScheduleCustomRecurrence": {
      "required": [
          "DayOfWeek",
          "MonthOfYear",
          "WeekOfMonth"
      ],
      "type": "object",
      "properties": {
          "WeekOfMonth": {
              "type": "string",
              "description": "Specifies the week of the month the schedule recurs.<br />Values allowed are <code>first, second, third, fourth, last</code>\n\n**For example:** If you provide second, the schedule will recur on the second week."
          },
          "DayOfWeek": {
              "type": "string",
              "description": "Specifies the day of week the schedule recurs.<br />Values allowed are <code>day, weekday, weekendday, Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday</code>\n\n**For example:** If you provide Sunday, the schedule will recur on every sunday's of the second week."
          },
          "MonthOfYear": {
              "type": "string",
              "description": "Specifies the month the schedule recurs.<br />Values allowed are <code>January, February, March, April, May, June, July, August, September, October, November, December</code>\n\n**For example:** If you provide March, the schedule will recur on the sunday's of the second week of March every year. Here, the (year) is the value provided in the `YearInterval` property."
          }
      },
      "description": "The schedule recurs in the customized month based on the number of years provided in the `YearInterval` property."
  },
  "ApiUpdateScheduleRequest": {
      "required": [
          "ItemId",
          "Name",
          "ExportType",
          "ScheduleType",
          "StartTime",
          "NeverEnd"
      ],
      "type": "object",
      "properties": {
          "Name": {
              "type": "string",
              "description": "Schedule name."
          },
          "ItemId": {
              "type": "string",
              "description": "Item ID.",
              "format": "guid"
          },
          "DashboardViewId":{
              "type":"string",
              "description": "Specifies the View ID to schedule that specific dashboard view.",
              "format": "guid"
          },
          "DashboardWidgetId":
          {
              "type":"string",
              "description": "Specifies the Widget ID to schedule that specific dashboard widget.",
              "format": "guid"
          },
          "Parameter": {
              "type": "string",
              "description": "Specifies the parameter."
          },
          "EmailTemplateId": {
              "type": "integer",
              "description": "Specifies the email template Id.",
              "format": "int32"
          },
          "IsEnableEmailCustomization": {
              "type": "boolean",
              "description": "Returns true, if the schedule email customization is enabled."
          },
          "ExportType": {
              "type": "string",
              "description": "Specifies the export type to schedule the dashboard.<br />Values allowed are <code>Excel, Pdf, Image</code>"
          },
          "Description": {
              "type": "string",
              "description": "File description"
          },
          "StartTime": {
              "type": "string",
              "description": "Specifies the UTC start date-time of schedule.<br />The format should be ISO 8601 i.e. `yyyy-MM-ddTHH:mm:ssZ`."
          },
          "NeverEnd": {
              "type": "boolean",
              "description": "When set to true, it creates a schedule with no end.\n\n**Note:** By default, the NeverEnd is set to true. To set the end time for schedule, fill in the EndAfterOccurrence or EndDate properties; otherwise they remains empty."
          },
          "EndAfterOccurrence": {
              "type": "integer",
              "description": "Specifies the number of occurrences after which the schedule will be completed.\n\n**For example:** If you provide 5, the schedule will end after the completion of 5 occurrences.",
              "format": "int32"
          },
          "EndDate": {
              "type": "string",
              "description": "Specifies the UTC end date-time of schedule, after which schedule will be completed. The format should be ISO 8601 i.e. `yyyy-MM-ddTHH:mm:ssZ`.\n\n**For example:** If you provide an end date-time, the schedule will end when the end date-time is reached."
          },
          "ScheduleType": {
              "type": "string",
              "description": "Specifies the schedule type to schedule the dashboard.<br />Values allowed are <code>Hourly, Daily, Weekly, Monthly, Yearly</code>\n\n**Note:** If you choose the schedule type as `Monthly`, provide a value to the `MonthlySchedule` property, and leave the (HourlySchedule, DailySchedule, WeeklySchedule and YearlySchedule) property empty."
          },
          "IsEnabled": {
              "type": "boolean",
              "description": "Returns true, if the schedule is enabled."
          },
          "FailureNotificationToOwner": {
              "type": "boolean",
              "description": "Returns true, if the failure notification to an owner is enabled."
          },
          "FailureNotificationToRecipient": {
              "type": "boolean",
              "description": "Returns true, if the failure notification to the recipient is enabled."
          },
          "FailureOccurrence": {
              "type": "integer",
              "description": "Failure occurrence count.",
              "format": "int32"
          },
          "UserList": {
              "type": "array",
              "description": "Provides a list of email addresses or user IDs to the recipients who will get the schedules.",
              "items": {
                  "type": "string"
              }
          },
          "GroupList": {
              "type": "array",
              "description": "Provides a list of group IDs to the recipients in the group list who will get the schedules.",
              "items": {
                  "type": "integer",
                  "format": "int32"
              }
          },
          "ExternalRecipientsList": {
              "type": "array",
              "description": "Provides a list of email addresses to the email recipients who will get the schedules. ",
              "items": {
                  "type": "string"
              }
          },
          "RemoveUserList": {
              "type": "array",
              "description": "Provides a list of email addresses or user IDs to remove recipients from the schedule subscriptions.",
              "items": {
                  "type": "string"
              }
          },
          "RemoveGroupList": {
              "type": "array",
              "description": "Provides a list of group IDs to remove groups from the schedule subscriptions.",
              "items": {
                  "type": "integer",
                  "format": "int32"
              }
          },
          "RemoveExternalRecipientsList": {
              "type": "array",
              "description": "Provides a list of email addresses for removing email recipients from the schedule subscriptions.",
              "items": {
                  "type": "string"
              }
          },
          "ExportFormatInfo": {
              "description": "Schedule export format information.",
              "$ref": "#/definitions/ScheduleExportFormat"
          },
          "ScheduleExportLocation": {
              "description": "Schedule export location information.",
              "$ref": "#/definitions/ScheduleExportLocation"
          },
          "Email": {
              "description": "Schedule mail information.",
              "$ref": "#/definitions/ApiScheduleEmail"
          },
          "HourlySchedule": {
              "type": "object",
              "description": "Runs the schedules on an hourly basis.",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiHourlySchedule"
                  }
              ]
          },
          "DailySchedule": {
              "type": "object",
              "description": "Runs the schedules on a daily basis. ",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiDailySchedule"
                  }
              ]
          },
          "WeeklySchedule": {
              "type": "object",
              "description": "Runs the schedule on a weekly basis.",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiWeeklySchedule"
                  }
              ]
          },
          "MonthlySchedule": {
              "type": "object",
              "description": "Runs the schedule on a monthly basis.",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiMonthlySchedule"
                  }
              ]
          },
          "YearlySchedule": {
              "type": "object",
              "description": "Runs the schedules on a yearly basis.",
              "allOf": [
                  {
                      "$ref": "#/definitions/ApiYearlySchedule"
                  }
              ]
          },
          "EnableDataAlert": {
              "type": "boolean",
              "description": "Returns true, if schedule data alert is enabled."
          },
          "DashboardId": {
              "type": "string",
              "description": "ID of the dashboard (Required if data alert is enabled).",
              "format": "guid"
          },
          "DataSourceName": {
              "type": "string",
              "description": "Name of the data source (Required if data alert is enabled)."
          },
          "WidgetName": {
              "type": "string",
              "description": "Name of the widget (Required if data alert is enabled)."
          },
          "ConditionCategory": {
              "type": "string",
              "description": "Specifies the type of data alert trigger to export the dashboard.<br />Values allowed are <code>Value Changes, Increases, Continuously Increases, Decreases, Continuously Decreases</code> (Required if data alert is enabled)"
          },
          "ConditionalResult": {
              "type": "object",
              "description": "Specifies the result of the filter condition (Required if data alert is enabled).",
              "required": [
                "ConditionalInformations"
              ],
              "properties": {
                  "ConditionalInformations": {
                      "type": "object",
                      "description": "Specifies the details of the filter condition.",
                      "allOf": [
                          {
                              "$ref": "#/definitions/ConditionalInformations"
                          }
                      ]
                  }
              }
          }
      },
      "description": "Details about the schedule that was passed will be updated."
  },
  "ApiScheduleResponse": {
      "type": "object",
      "properties": {
          "ScheduleName": {
              "type": "string",
              "description": "Returns the schedule name."
          },
          "ScheduleId": {
              "type": "string",
              "description": "Returns the schedule ID.",
              "format": "guid"
          },
          "StatusMessage": {
              "type": "string",
              "description": "Returns the status message from the API."
          },
          "ScheduleType": {
              "type": "string",
              "description": "Returns the schedule type."
          },
          "NextRun": {
              "type": "string",
              "description": "Returns the schedule?s next run."
          }
      },
      "description": "Response details of created schedules."
   }
  },
  "parameters": {},
  "responses": {}
}