.cache/
.git
.vs
.v15
sitemap-help.xml
.env
.vscode/*
!.vscode/launch.json

# dist
public/
documentation/

# packages
node_modules/
yarn.lock

# src
src/pages/

# common
left-toc.json
stack.json
package-lock.json

# static
static/*
!static/favicon.ico
!static/robots.txt
!static/assets
!static/404.html
!static/404
!static/js
!static/img
!static/index.html
!static/css
!static/favicon-32x32.png
!static/favicon-180x180.png
!static/favicon-192x192.png
!static/favicon-270x270.png