.ej-doc-header {
    background-color: #fff;
    box-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.12);
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    font-family: 'Caros',sans-serif;
    font-size: 24px;
    color: #FF4801;
    float: left;
}

.ej-doc-header .ej-doc-left-side {
    height: inherit;
    display: flex;
    align-items: center;
}

.ej-doc-header .ej-doc-left-side .ej-doc-syncfusion-logo {
    margin-left: 20px;
    height: 41px;
    width: 162px;
    background-image: url('logo.svg');
    background-repeat: no-repeat;
    font-size: 40px;
    cursor: pointer;
}

.ej-doc-header .ej-doc-left-side a {
    color: #212529;
    text-decoration: none;
}


.ej-doc-header .ej-doc-left-side .ej-doc-divider {
    border-left: 1px solid rgb(196, 196, 196);
    height: 40px;

}
.ej-doc-header .ej-doc-left-side .ej-doc-platform-name {
    font-family: 'Caros',sans-serif;
    font-size: 21px;
    opacity: 1;
    margin-left: 30px;
    padding-top: 3px;
}

.ej-doc-header .ej-doc-right-side {
    height: inherit;
    display: flex;
    align-items: center;
}

.ej-doc-header .ej-doc-right-side a {
    font-family: 'Caros',sans-serif;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 20px 0px 0;
    color: #283A5F;
    opacity: 1;
}

.ej-doc-header .ej-doc-right-side a:hover {
    color: #FF4801;
}

.ej-doc-header .ej-doc-right-side a.ej-doc-button {
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    opacity: 1;
    text-decoration: none;
    padding: 5.5px 13px;
    cursor: pointer;
    background-color: #3C78EF;
    color: #ffffff;
    border-radius: 2px;
}

.ej-doc-header .ej-doc-right-side a.ej-doc-button:hover {
    background: #006CE6;
}

.header-demo-link {
    color: #FFFFFF;
    background-color: #FF4801;
    height: 36px;
    width: 204px;
    text-align: center;
    padding-top: 5px;
    font-family: caros, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    border-radius: 4px;
}


@media only screen and (max-width: 768px) {
    .ej-doc-header .ej-doc-right-side {
      display: none;
    }
}

  .menu-root > side-menu-items > li:nth-child(2) {
    display: none;
}

.api-info-wrapper > h1 + p {
    display: none;
}

.redoc-markdown-block h1:nth-child(3), .method-api-url {
    display: none;
}
[_nghost-redoc-19] .redoc-json {
    margin-bottom: 0px;
    color: white;
}
pre {
    border: none !important;
}

  .api-content[_ngcontent-redoc-45], .menu-content[_ngcontent-redoc-45]{
      top: 60px !important;
  }

.mobile-nav[_ngcontent-redoc-35] {
    overflow: hidden !important;
}

div#doc-footer {
    display: none;
}

div#doc-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    height: 50px;
    background-color: #f6f6f6;
    border-top: 1px solid #d3d3d3;
    z-index: 101;
    position: relative;
}

@media screen and (min-width: 1240px) {
    div#doc-footer {
        width: 100%;
    }
}

/*Copyright*/
#footer-copyright {
    display: flex;
    align-items: center;
}

#copyright {
    color: #686868;
    font-size: 12px;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-left: 30px;
    text-decoration: none;
}

#footer-powered_by {
    display: flex;
    align-items: center;
    width: 160px;
    height: 30px;
    margin-top: 8px;
    margin-right: 30px;
    background-image: url('powered-by-syncfusion.svg');
    background-repeat: no-repeat;
}

.doc-hide {
    display: none !important;
}

div#close-search-content.search-content-close {
    position: absolute;
    top: 130px;
    right: 40px;
    font-size: 20px;
    color: #b1aeae;
    height: 1.57143em;
    width: 1.57143em;
    cursor: pointer;
    z-index: 101;
}

div#docerror-search-result .search-content-close > span::before {
    content: "\e905";
    font-family: doc-icons;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.e-error-container {
    top: 60px;
    bottom: 0;
    margin-top: 0;
    max-width: 100%;
    overflow: auto;
    position: absolute;
    right: 0;
    left: 0;
}

div#docerror-content-search button.gsc-search-button.gsc-search-button-v2 {
    border: none;
    background-color: #fff;
    height: 34px;
    width: 0px;
    cursor: pointer;
    margin-left: 0px;
    padding: 0px;
}

div#docerror-content-search #docerror-content-search-icon {
    font-family: "doc-icons";
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    background-color: #ff4801;
    height: 34px;
    width: 48px;
    right: 60px;
    position: relative;
    padding-right: 0px;
    border-radius: 0px 4px 4px 0px;
}

div#docerror-content-search #docerror-content-search-icon::before {
    content: "\e922";
}

div#docerror-content-search div.gsc-input-box td.gsib_b {
    display: none;
}


div#docerror-content-search div.gsc-input-box {
    margin-right: 11px;
    border-radius: 4px;
    padding: 0;
}

div#docerror-content-search button.gsc-search-button.gsc-search-button-v2:focus {
    outline-color: transparent;
}

div#docerror-content-search {
    width: 500px;
    margin: auto;
}

@media screen and (min-width: 380px) {
    div.docerror-search-results-header {
        display: block;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 29px;
        font-weight: 700;
    }

    div#docerror-search-result .gsc-above-wrapper-area {
        margin-right: 55px;
    }

    #docerror-search-result .gsc-wrapper {
        padding-right: 40px;
    }

    div#docerror-search-result .gsc-control-cse.gsc-control-cse-en {
        padding-left: 30px;
    }

    div#docerror-search-result .gs-result .gs-title,
    div#docerror-search-result .gs-result .gs-title b {
        font-size: 22px;
    }

    div#docerror-search-result div.gsc-url-top {
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 14px;
    }

    div#docerror-search-result .gs-snippet {
        font-size: 14px;
        line-height: 18px;
    }

    div#error-container.gcse-search div.doc-search-results-header {
        display: block;
        font-size: 21px;
        margin-top: 18px;
        margin-left: 30px;
        line-height: 21px;
        font-weight: bold;
    }

    div#error-container.gcse-search div#doc-body-header {
        z-index: 101;
        border-bottom: transparent;
    }

    div#error-container.gcse-search div#doc-content-search {
        width: 665px;
        float: left;
        margin-left: 30px;
        height: 44px !important;
        margin-top: 5px;
    }

    div#error-container.gcse-search #doc-content-search-icon {
        right: auto;
        left: 645px;
        top: 53px;
        height: 47px;
    }

    div#error-container.gcse-search div#doc-bread-crumb,
    div#error-container.gcse-search #doc-right-toc {
        display: none;
    }

    #docerror-search-result .gsc-wrapper .gcsc-more-maybe-branding-root {
        display: none;
    }
}

@media screen and (min-width: 150px) and (max-width: 480px) {
    div.gcse-search div.docerror-search-results-header {
        display: block;
        font-size: 24px;
        margin-top: 15px;
    }
}

div.container #docerror-content-search.e-searchbox-result {
    margin: 0px;
    margin-bottom: 20px;
}

div#docerror-search-result {
    background: #fff;
    padding-top: 30px;
}

div#docerror-search-result .gsc-selected-option-container {
    font-size: 13px;
    font-weight: 400;
    width: 138px;
    height: 30px;
    background: none;
    box-shadow: none;
}

div#docerror-search-result .gsc-thumbnail-inside,
div#docerror-search-result .gsc-url-top,
div#docerror-search-result .gsc-result-info-container,
div#docerror-search-result .gsc-result-info {
    padding-left: 0px !important;
}

div#docerror-search-result .gsc-selected-option-container {
    font-size: 13px;
    font-weight: normal;
    width: 138px;
    height: 30px;
    background: none;
    box-shadow: none;
}

div#docerror-search-result .gsc-option-menu-item {
    width: 122px;
    padding-left: 12px;
    color: #000;
}

    div#docerror-search-result .gsc-option-menu-item.gsc-option-menu-item-highlighted {
        background-color: #FF4800;
        border-color: #FF4800;
        color: #fff;
    }

    div#docerror-search-result table.gsc-table-result {
        margin-top: 10px;
        margin-bottom: 5px;
    }

div#docerror-search-result div.gsc-selected-option {
    text-align: left;
    padding-left: 5px;
}
