{
  "swagger": "2.0",
  "info": {
    "title": "API Reference",
    "version": "5.0"
  },
  "host": "onpremise-demo.boldbi.com",
  "basePath": "/bi/api/site/site1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Authentication"
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate User",
        "description": "Please authenticate with a user password.",
        "operationId": "Authentication",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "grant_type",
            "in": "formData",
            "required": true,
            "x-nullable": false,
            "description": "The type of credentials used to authorize the request for an access token. (Use \"password\")"
          },
          {
            "type": "string",
            "name": "username",
            "in": "formData",
            "required": true,
            "x-nullable": false,
            "description": "Email address of the user. (Use guest@boldbi.com for this demo API)"
          },
          {
            "type": "string",
            "name": "password",
            "in": "formData",
            "required": true,
            "x-nullable": false,
            "description": "Password of the user. (Use Demo759! for this demo API)"
          }
        ],
        "responses": {
          "200": {
            "description": "User logged in successfully.",
            "schema": {
              "$ref": "#/definitions/Response"
            },
            "x-nullable": true
          },
          "400": {
            "description": "Email address is empty"
          },
          "404": {
            "description": "User detail not found."
          },
          "405": {
            "description": "Request type was not POST"
          }
        }
      }
    },
    "/v5.0/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add User",
        "description": "Adds the new user.",
        "operationId": "Users_AddUser",
        "parameters": [
          {
            "name": "userDetail",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiUserAdd"
            },
            "description": "Detail of the user",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The user was created successfully.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Access denied"
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "409": {
            "description": "Email address already exists."
          },
          "405": {
            "description": "Request type was not POST"
          },
          "417": {
            "description": "Failed to add user"
          }
        }
      }, 
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Users",
        "description": "Retrieve the list of user details.",
        "operationId": "Users_GetUsers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 1,
            "minimum": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Page size<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 25,
            "minimum": 1,
            "maximum": 100
          },
          {
            "type": "string",
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search Keyword<br />Keyword searched in <code>DisplayName, Email</code>",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sorting type. Values allowed are <code>+(ascending), -(descending)</code>",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of user details was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/GetUsersPaginatedApiResponse"
            }
          },
          "400": {
            "description": "Page does not exists.",
            "content": {}
          },
          "401": {
            "description": "Access denied"
          },
          "204": {
            "description": "User list is empty."
          },
          "405": {
            "description": "Request type was not GET"
          }
        }
      }
    },
    "/v5.0/users/{user}": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update User",
        "description": "Update the specific user details.",
        "operationId": "Users_EditUser",
        "parameters": [
          {
            "type": "string",
            "name": "user",
            "in": "path",
            "required": true,
            "description": "Username or email address of the user",
            "x-nullable": false
          },
          {
            "name": "userDetail",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiUserEdit"
            },
            "description": "Detail of the user",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The user was modified successfully.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "User detail not found."
          },
          "405": {
            "description": "Request type was not PUT."
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "500": {
            "description": "Failed to update user profile detail."
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete User",
        "description": "Delete the specific user.",
        "operationId": "Users_DeleteUser",
        "parameters": [
          {
            "type": "string",
            "name": "user",
            "in": "path",
            "required": true,
            "description": "Username or email address of the user",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Email address is empty"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "User detail not found."
          },
          "405": {
            "description": "Request type was not DELETE"
          },
          "417": {
            "description": "Failed to delete user."
          }
        }
      },
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a User by Email or Username",
        "description": "Retrieve the specific user detail.",
        "operationId": "Users_GetUserDetail",
        "parameters": [
          {
            "type": "string",
            "name": "user",
            "in": "path",
            "required": true,
            "description": "Username or email address of the user",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "User detail was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ApiUserDetailV4"
            }
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "User detail not found."
          },
          "405": {
            "description": "Request type was not GET"
          },
          "417": {
            "description": "Failed to retrieve user detail"
          }
        }
      }
    },
    "/v5.0/users/{user}/groups": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Groups",
        "description": "Retrieve the list of group details for the specific user.",
        "operationId": "Users_GetGroupsOfUser",
        "parameters": [
          {
            "type": "string",
            "name": "user",
            "in": "path",
            "required": true,
            "description": "User ID or Email address of the user.",
            "x-nullable": false
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "<br />\nPage number<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "  1 ",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "<br />\nPage size<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "  10 ",
            "default": 25,
            "minimum": 1,
            "maximum": 100
          },
          {
            "type": "string",
            "name": "q",
            "in": "query",
            "required": false,
            "description": "<br />\nSearch Keyword<br />Keyword searched in <code>Id , Name </code>",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "<br />\nSorting type<br />Values allowed are <code>+(ascending), -(descending)</code>",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of user's groups was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/GetUserGroupsPaginatedApiResponse"
            }
          },
          "204": {
            "description": "Group list empty"
          },
          "400": {
            "description": "Page does not exists.",
            "content": {}
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "User detail not found."
          },
          "405": {
            "description": "Request type was not GET"
          },
          "417": {
            "description": "Failed to get group details"
          }
        }
      }
    },
    "/v5.0/csv-users/download-template": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Download CSV Template",
        "description": "Download the CSV template in order to import the CSV users.",
        "operationId": "Users_DownloadCsvTemplate",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "CSV template was downloaded successfully.",
            "schema": {
              "$ref": "#/definitions/ApiDownloadCsvTemplate"
            }
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not GET"
          },
          "417": {
            "description": "Failed to download CSV template file"
          }
        }
      }
    },
    "/v5.0/csv-users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add CSV User",
        "description": "Please add the list of users using the CSV file.",
        "operationId": "Users_CsvUserImport",
        "parameters": [
          {
            "name": "apiCsvUserImportRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiCsvUserImportRequest"
            },
            "description": "Details passed to add the CSV of users.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "User(s) created successfully.",
            "schema": {
              "$ref": "#/definitions/ApiCsvUserImportResponse"
            }
          },
          "401": {
            "description": "Access denied"
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "405": {
            "description": "Request type was not POST"
          },
          "417": {
            "description": "Failed to add CSV users"
          }
        }
      }
    },
    "/v5.0/user/import/job/{jobId}": {
      "get": {
        "tags": [ "Users" ],
        "summary": "Get Bulk import job Details",
        "description": "Retrieve the bulk import job details of the specified job id.",
        "operationId": "Users_GetBulkImportJobDetail",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "job Id of bulk import result",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job detail retrieved created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiBulkImportJobDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access denied.",
            "content": {}
          },
          "405": {
            "description": "Request type was not GET.",
            "content": {}
          },
          "417": {
            "description": "Failed to get csv import job details.",
            "content": {}
          }
        }
      }
    },
    "/v5.0/user/import/job/{jobId}/failed-import": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get failed import users list of specific job id",
        "description": "Retrieve all the import users who have failed for the specified job id.",
        "operationId": "Users_GetFailedImportUsersList",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "job Id of bulk import result",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Failed import users detail retrieved created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ApiFailedImportUsersDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access denied.",
            "content": {}
          },
          "405": {
            "description": "Request type was not GET.",
            "content": {}
          },
          "417": {
            "description": "Failed to get csv failed import user details.",
            "content": {}
          }
        }
      }
    },
    "/v5.0/groups": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Add Groups",
        "description": "Add the new group to group the users.",
        "operationId": "Groups_AddGroup",
        "parameters": [
          {
            "name": "groupDetail",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiGroupAdd"
            },
            "description": "Detail of the group.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Group was created successfully.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not POST"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "409": {
            "description": "Group name already exists."
          },
          "417": {
            "description": "Failed to add group"
          }
        }
      }, 
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Groups",
        "description": "Retrieve the list of group details.",
        "operationId": "Groups_GetGroups",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 1,
            "minimum": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Page size<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 25,
            "minimum": 1,
            "maximum": 100
          },
          {
            "type": "string",
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search Keyword<br />Keyword searched in <code>Id , Name</code>",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sorting type. Values allowed are <code>+(ascending), -(descending)</code>",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of groups has been retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/GetGroupsPaginatedApiResponse"
            }
          },
          "204": {
            "description": "Group list is empty."
          },
          "400": {
            "description": "Page does not exists."
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not GET"
          }
        }
      }
    },
    "/v5.0/groups/{id}": {
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Delete Group",
        "description": "Remove the specific group.",
        "operationId": "Groups_DeleteGroup",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the group.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not DELETE"
          },
          "406": {
            "description": "Invalid Group ID"
          },
          "417": {
            "description": "Failed to delete the group"
          }
        }
      },
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Update Group",
        "description": "Update the specific group details.",
        "operationId": "Groups_EditGroup",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the group.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "groupDetail",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiGroupEdit"
            },
            "description": "Detail of the group.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Group was modified successfully.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "Group detail was not found."
          },
          "405": {
            "description": "Request type was not PUT"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "409": {
            "description": "Group name already exists."
          },
          "417": {
            "description": "Failed to update group "
          }
        }
      },
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Group by Id",
        "description": "Retrieve the specific group details.",
        "operationId": "Groups_GetGroupDetail",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the group.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Group detail was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ApiGroup"
            }
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "Group detail was not found."
          },
          "405": {
            "description": "Request type was not GET"
          },
          "417": {
            "description": "Failed to get group detail"
          }
        }
      }
    },
    "/v5.0/groups/azure-active-directory/import": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Add Azure AD Groups",
        "description": "Import the group(s) from Azure Active Directory.",
        "operationId": "Groups_AddAzureADGroup",
        "parameters": [
          {
            "name": "groupName",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiAzureADGroup"
            },
            "description": "Name of the group.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Group has been imported successfully.",
            "schema": {
              "$ref": "#/definitions/ApiAzureGroupImportResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not POST"
          },
          "412": {
            "description": "Azure AD details are not configured"
          }
        }
      }
    },
    "/v5.0/groups/{id}/users": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Add User(s) to Group",
        "description": "Add the list of users to the specific group.",
        "operationId": "Groups_AddUserToGroup",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "apiGroupUsers",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiGroupUsers"
            },
            "description": "User(s) added/removed from the group",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "User(s) added to the group successfully.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Access denied"
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "417": {
            "description": "Failed to add user in to group"
          },
          "404": {
            "description": "Group detail was not found."
          },
          "405": {
            "description": "Request type was not POST"
          }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Delete Group User",
        "description": "Delete the list of users from the specific group.",
        "operationId": "Groups_DeleteUserFromGroup",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "apiGroupUsers",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiGroupUsers"
            },
            "description": "User(s) added/removed from the group",
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Access denied"
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "417": {
            "description": "Failed to delete user from group"
          },
          "404": {
            "description": "Group detail was not found."
          },
          "405": {
            "description": "Request type was not DELETE"
          },
          "406": {
            "description": "Invalid group ID."
          }
        }
      },
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Group Users",
        "description": "Retrieve the list of user details for the specific group.",
        "operationId": "Groups_GetUsersFromGroup",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the group.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "<br />\nPage number<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "  1 ",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "<br />\nPage size<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "  10 ",
            "default": 25,
            "minimum": 1,
            "maximum": 100
          },
          {
            "type": "string",
            "name": "q",
            "in": "query",
            "required": false,
            "description": "<br />\nSearch Keyword<br />Keyword searched in <code>Email, DisplayName </code>",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "<br />\nSorting type<br />Values allowed are <code>+(ascending), -(descending)</code>",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of group's users has been retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/GetGroupUsersPaginatedApiResponse"
            }
          },
          "401": {
            "description": "Access denied"
          },
          "204": {
            "description": "User list is empty."
          },
          "400": {
            "description": "Page does not exists."
          },
          "404": {
            "description": "Group detail was not found."
          },
          "417": {
            "description": "Failed to check whether the group is active or not."
          },
          "406": {
            "description": "Invalid Group ID"
          },
          "405": {
            "description": "Request type was not GET"
          }
        }
      }
    },
    "/v5.0/permissions/users": {
      "post": {
        "tags": [
          "Permission"
        ],
        "summary": "Add User Permission",
        "description": "Administrators can add a new permission to a specific user by providing the permission details.",
        "operationId": "Permission_AddUserPermission",
        "parameters": [
          {
            "name": "apiUserPermissionAdd",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiUserPermissionAdd"
            },
            "description": "Details about the permissions that were passed will be added to the specified user id.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "User permission has been added successfully",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "User detail  not found"
          },
          "405": {
            "description": "Request type was not POST"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "409": {
            "description": "Permission already exists."
          },
          "417": {
            "description": "Failed to add user permission"
          }
        }
      }
    },
    "/v5.0/permissions/users/{id}": {
      "get": {
        "tags": [
          "Permission"
        ],
        "summary": "Get User Permissions",
        "description": "Administrators can obtain the list of permissions for the specific user.",
        "operationId": "Permission_GetUserPermission",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 1,
            "minimum": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Page size<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 10,
            "minimum": 1,
            "maximum": 100
          },
          {
            "type": "string",
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sorting type. Values allowed are <code>+(ascending), -(descending)</code>",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of user permissions has been retrieved successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetUsersPermissionPaginatedApiResponse"
              }
            }
          },
          "204": {
            "description": "Permission list is empty"
          },
          "401": {
            "description": "Access denied"
          },
          "400": {
            "description": "Invalid user ID."
          },
          "404": {
            "description": "User detail not found."
          },
          "405": {
            "description": "Request type was not GET"
          }
        }
      },
      "delete": {
        "tags": [
          "Permission"
        ],
        "summary": "Delete User Permission",
        "description": "Administrators have the ability to delete a specific user's permission.",
        "operationId": "Permission_DeleteUserPermission",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User permission ID.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Permission id is empty"
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not DELETE"
          },
          "417": {
            "description": "Failed to remove permission."
          }
        }
      }
    },
    "/v5.0/permissions/groups": {
      "post": {
        "tags": [
          "Permission"
        ],
        "summary": "Add Group Permission",
        "description": "Administrators can add a new permission to the specific group by providing permission details.",
        "operationId": "Permission_AddGroupPermission",
        "parameters": [
          {
            "name": "apiGroupPermissionAdd",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
                "items": {
                  "$ref": "#/definitions/ApiGroupPermissionAdd"
                }
            },
            "description": "Details about the permissions that were passed will be added to the specified group ID.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Group permission was created successfully.",
            "schema": {
              "$ref": "#/definitions/BulkGroupPermission"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "Group  detail  not found"
          },
          "405": {
            "description": "Request type was not POST"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "409": {
            "description": "Permission already exists"
          },
          "417": {
            "description": "Failed to add group permission"
          }
        }
      }
    },
    "/v5.0/permissions/groups/{id}": {
      "get": {
        "tags": [
          "Permission"
        ],
        "summary": "Get Group Permissions",
        "description": "Administrators can obtain the list of permissions for the specific group.",
        "operationId": "Permission_GetGroupPermission",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Group ID.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 1,
            "minimum": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Page size<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 10,
            "minimum": 1,
            "maximum": 100
          },
          {
            "type": "string",
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sorting type. Values allowed are <code>+(ascending), -(descending)</code>",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of group permissions has been retrieved successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetGroupsPermissionPaginatedApiResponse"
              }
            }
          },
          "204": {
            "description": "Permission list is empty"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "Group detail was not found."
          },
          "405": {
            "description": "Request type was not GET"
          },
          "406": {
            "description": "Invalid group ID."
          }
        }
      },
      "delete": {
        "tags": [
          "Permission"
        ],
        "summary": "Delete Group Permission",
        "description": "Administrators have the ability to delete specific group permissions.",
        "operationId": "Permission_DeleteGroupPermission",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Group permission ID.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Permission id is empty"
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not DELETE"
          },
          "417": {
            "description": "Failed to delete group permission"
          }
        }
      }
    }, 
    "/v5.0/categories": {
      "post": {
        "tags": [
          "Category"
        ],
        "summary": "Add Category",
        "description": "Users who have create access for categories can add a new category.",
        "operationId": "Category_AddCategory",
        "parameters": [
          {
            "name": "apiCategoryAdd",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiCategoryAdd"
            },
            "description": "Details about the passed category will be added.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The category was created successfully.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not POST"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "409": {
            "description": "Item name already exists"
          },
          "417": {
            "description": "Failed to add category"
          }
        }
      },
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Get Categories",
        "description": "Users who have created the categories are able to view the lists of categories.",
        "operationId": "Category_GetCategories",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 1,
            "minimum": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Page size<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 25,
            "minimum": 1,
            "maximum": 100
          },
          {
            "type": "string",
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search Keyword<br />Keyword searched in <code>Name, Description, CreatedByDisplayName</code>",
            "x-nullable": true,
            "example": "  sales "
          },
          {
            "type": "string",
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sorting type. Values allowed are <code>+(ascending), -(descending)</code>",
            "x-nullable": true,
            "example": "  + "
          }
        ],
        "responses": {
          "200": {
            "type": "array",
            "description": "The list of categories was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PaginatedApiResponse"
            }
          },
          "204": {
            "description": "Items not found"
          },
          "400": {
            "description": "Page does not exists."
          },
          "401": {
            "description": "Access denied"
          },
          "403": {
            "description": "Access denied for the item"
          },
          "405": {
            "description": "Request type was not GET"
          }
        }
      },
      "put": {
        "tags": [
          "Category"
        ],
        "summary": "Update Category",
        "description": "Users who have write access to categories can update an existing category.",
        "operationId": "Category_UpdateCategory",
        "parameters": [
          {
            "name": "apiCategoryUpdate",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiCategoryUpdate"
            },
            "description": "Details about the category that has been passed will be updated to the specified category ID.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The category was modified successfully.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "Item details not found."
          },
          "405": {
            "description": "Request type was not PUT"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "409": {
            "description": "Item name already exists"
          },
          "417": {
            "description": "Failed to update category"
          }
        }
      }
    },
    "/v5.0/categories/{categoryId}": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Get Category by Id",
        "description": "Users who created the category are able to view the category details.",
        "operationId": "Category_GetCategory",
        "parameters": [
          {
            "type": "string",
            "name": "categoryId",
            "in": "path",
            "required": true,
            "description": "Category ID",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Category detail was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ApiSpecifiedItemDetail"
            }
          },
          "400": {
            "description": "Invalid item ID."
          },
          "401": {
            "description": "Access denied."
          },
          "404": {
            "description": "Item details not found."
          },
          "405": {
            "description": "Request type was not GET."
          }
        }
      },
      "delete": {
        "tags": [
          "Category"
        ],
        "summary": "Delete Category",
        "description": "Users who have delete access to the item type category can delete the item by providing the Category Id.",
        "operationId": "Category_DeleteCategory",
        "parameters": [
          {
            "type": "string",
            "name": "categoryId",
            "in": "path",
            "required": true,
            "description": "Category ID",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "400": {
            "description": "Item ID is empty."
          },
          "401": {
            "description": "Access denied."
          },
          "404": {
            "description": "Item details not found."
          },
          "405": {
            "description": "Request type was not DELETE."
          },
          "412": {
            "description": "Failed to delete because the category contains dashboards."
          },
          "417": {
            "description": "Failed to delete item."
          }
        }
      }
    },
    "/v5.0/dashboards": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Dashboards",
        "description": "Users who have created the dashboards are able to view the lists of dashboards.",
        "operationId": "Dashboards_GetDashboards",
        "parameters": [
          {
            "type": "string",
            "name": "serverPath",
            "in": "query",
            "required": false,
            "description": "`\"/\"` + `\"Category name\"`",
            "x-nullable": true
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 1,
            "minimum": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Page size<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 25,
            "minimum": 1,
            "maximum": 100
          },
          {
            "type": "string",
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search Keyword<br />Keyword searched in <code>Name, Description, CategoryName, CreatedByDisplayName</code>",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sorting type. Values allowed are <code>+(ascending), -(descending)</code>",
            "x-nullable": true
          },
          {
            "name": "exclude_multitabdashboard",
            "in": "query",
            "required": false,
            "description": "Exclude Multitab dashboards. Values allowed are <code>True/true, False/false</code>",
            "x-nullable": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "type": "integer",
            "name": "createdBy",
            "in": "query",
            "required": false,
            "description": "<br />\nSpecifies the User ID to filter the dashboards based on the user who created them.<br />",
            "x-nullable": true,
            "schema": {
                "type": "integer",
                "format": "int32"
            }
          },
          {
            "type": "string",
            "name": "groupName",
            "in": "query",
            "required": false,
            "description": "<br />\nSpecifies the Group name to filter the dashboards.<br />",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "type": "array",
            "description": "List of dashboards was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PaginatedApiResponse"
            }
          },
          "204": {
            "description": "Items not found"
          },
          "400": {
            "description": "Page does not exists."
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not GET"
          }
        }
      }
    },
    "/v5.0/dashboards/{dashboardId}": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Dashboard by Id",
        "description": "Users who have created the dashboard are able to view the detailed information on the dashboard.",
        "operationId": "Dashboards_GetDashboard",
        "parameters": [
          {
            "type": "string",
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "description": "Dashboard ID",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard detail was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ApiDashboardSpecifiedItemDetail"
            }
          },
          "400": {
            "description": "Item id invalid."
          },
          "401": {
            "description": "Access denied for the item."
          },
          "404": {
            "description": "Item details not found."
          },
          "405": {
            "description": "Request type was not GET."
          }
        }
      },
      "delete": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Delete Dashboard",
        "description": "Users who have deletion access to the item type dashboard can delete the item by providing the Dashboard Id.",
        "operationId": "Dashboards_DeleteDashboard",
        "parameters": [
          {
            "type": "string",
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "description": "Dashboard ID",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "400": {
            "description": "Item ID is empty."
          },
          "401": {
            "description": "Access denied."
          },
          "404": {
            "description": "Item details not found."
          },
          "405": {
            "description": "Request type was not DELETE."
          },
          "417": {
            "description": "Failed to delete item."
          }
        }
      }
    },
    "/v5.0/dashboards/{itemId}/copy": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Copy Dashboard",
        "description": "Users who have access to create on the dashboard can copy it.",
        "operationId": "Dashboards_CopyDashboard",
        "parameters": [
          {
            "type": "string",
            "name": "itemId",
            "in": "path",
            "required": true,
            "description": "ItemId of the dashboard will be copied.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "apiCopyDashboard",
            "in": "body",
            "required": true,
            "description": "The details of the dashboard that were passed will be copied.",
            "schema": {
              "$ref": "#/definitions/ApiCopyDashboardRequestV4"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The dashboard has been copied successfully.",
            "schema": {
              "$ref": "#/definitions/ApiCopyItemResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied. You do not have permission to copy the dashboard."
          },
          "403": {
            "description": "Mark as public has been restricted."
          },
          "404": {
            "description": "Item details not found."
          },
          "405": {
            "description": "Request type was not POST"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "409": {
            "description": "Item name already exists."
          },
          "417": {
            "description": "Failed to copy the dashboard"
          }
        }
      }
    },
    "/v5.0/dashboards/public": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Public Dashboards",
        "description": "Retrieve the list of public dashboards for the current user.",
        "operationId": "Dashboards_GetPublicItems",
        "parameters": [
          {
            "type": "string",
            "name": "itemType",
            "in": "query",
            "required": true,
            "description": "Item type. Valid values: `\"Dashboard\"`",
            "x-schema": {
              "$ref": "#/definitions/ItemType"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of public dashboards was retrieved successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApiPublicItems"
              }
            }
          },
          "204": {
            "description": "Public item list empty"
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not GET"
          },
          "417": {
            "description": "Failed to get public items"
          }
        }
      }
    },
    "/v5.0/dashboards/{dashboardId}/public":{
      "put": {
          "tags" : [
              "Dashboard"
          ],
          "summary" : "Update Public Dashboard",
          "description": "Users who have access to the dashboard and its settings can update the dashboard to be public.",
          "operationId": "Dashboards_UpdatePublicDashboard",
          "parameters":[
              {
                "name": "dashboardId",
                "in": "path",
                "description": "Dashboard ID.",
                "required" : true,
                "style": "simple",
                "explode": false,
                "schema": {
                    "type": "string",
                    "format": "guid",
                    "nullable": false
                 },
                 "x-nullable": true
              },
              {
                "name": "ApiUpdateDashboardPublicV5",
                "in": "body",
                "required": true,
                "description": "The public value that is passed will be updated on the specified dashboard.",
               "schema":{
                "$ref": "#/definitions/ApiUpdateDashboardPublicV5"
               }
              }
          ],
          "responses": {
              "200": {
                  "description": "Dashboard marked public successfully.",
                  "schema":{
                    "$ref": "#/definitions/ApiResponse"
                  }
              },
              "400": {
                  "description" : "The content of the request body is missing or incomplete."
              },
              "401": {
                  "description": "Access denied"
              },
              "412" : {
                  "description": "Mark as public has been restricted."
              },
              "417": {
                  "description": "Failed to mark dashboard as public."
              }
          }
      }
    },
    "/v5.0/dashboards/favorite": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Favorite Dashboards",
        "description": "Retrieve a list of favorite dashboards for the current user.",
        "operationId": "Dashboards_GetFavoriteItems",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of favorite dashboards was retrieved successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApiFavoriteitems"
              }
            }
          },
          "204": {
            "description": "No favorite items."
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not GET"
          },
          "417": {
            "description": "Failed to get favorite items"
          }
        }
      },
      "put": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Update Favorite Dashboard",
        "description": "Users who have read access to the dashboard can update the dashboard as a favorite or non-favorite.",
        "operationId": "Dashboards_UpdateFavoriteItem",
        "parameters": [
          {
            "name": "apiUpdateFavorite",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiUpdateFavorite"
            },
            "description": "Favorite value passed will be updated to the specified dashboard id.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Favorite dashboard was modified successfully.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "Item details not found."
          },
          "405": {
            "description": "Request type was not PUT"
          },
          "417": {
            "description": "Failed to favorite item"
          }
        }
      }
    },
    "/v5.0/dashboards/export": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Export Dashboard",
        "description": "Users who have read access to the dashboard can export it to various formats (Excel, PDF, and Image) and receive the exported dashboard as an array of bytes in response.<br /><br />When exporting a multi-tabbed dashboard in image format, the response bytes must be saved in ZIP format.",
        "operationId": "Dashboards_ExportDashboard",
        "parameters": [
          {
            "name": "apiExportDashboard",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiExportDashboard"
            },
            "description": "Details about the passed dashboard will be exported.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Dashboard exported successfully.",
            "schema": {
              "$ref": "#/definitions/ApiExportDashboardResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "Item details not found."
          },
          "405": {
            "description": "Request type was not POST"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "417": {
            "description": "Failed to Export item"
          }
        }
      }
    },
    "/v5.0/dashboards/by-group-permissions": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Groups Dashboard Details By Group Names",
        "description": "Administrators can obtain the list of dashboard details for the specific groups.",
        "operationId": "Dashboards_DashboardsDetailsByGroupPermissions",
        "parameters": [
          {
            "type": "string",
            "name": "GroupName",
            "in": "query",
            "required": false,
            "description": "One or more group names, separated by commas (,).",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of dashbaord details has been retrieved successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApiGetDashboardDetailsByGroupnamesApiResponse"
              }
            }
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not GET"
          }
        }
      }
    },
    "/v5.0/dashboards/download/job": {
      "post": {
        "tags": [
          "Download Dashboard"
        ],
        "summary": "Prepare Dashboard For Download",
        "description": "Initiates the download of the dashboard for users with read and download access.",
        "operationId": "Dashboards_DownloadDashboard",
        "parameters": [
          {
            "name": "apiDownloadDashboard",
            "in": "body",
            "required": true,
            "description": "Details of the dashboard passed will be downloaded.",
            "schema": {
              "$ref": "#/definitions/ApiDownloadDashboard"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Download job has been initiated for the given dashboards.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Dashboard list is empty.",
            "content": {}
          },
          "405": {
            "description": "Request type was not POST.",
            "content": {}
          },
          "406": {
            "description": "The content of the request body is invalid.",
            "content": {}
          },
          "409": {
            "description": "The maximum number of dashboards that can be downloaded at a time is 15. Please list 15 or fewer dashboards and try again.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "apiDownloadDashboard"
      }
    },
    "/v5.0/dashboards/download/job/{jobId}": {
      "get": {
        "tags": [
          "Download Dashboard"
        ],
        "summary": "Download Dashboard",
        "description": "Please download the content of the dashboard file.",
        "operationId": "Dashboard_DownloadDashboardFile",
        "parameters": [
          {
            "type": "string",
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Download Job ID",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard files downloaded successfully.",
            "schema": {
              "$ref": "#/definitions/ApiDownloadDashboardResponse"
            }
          },
          "400": {
            "description": "Invalid job ID",
            "content": {}
          },
          "401": {
            "description": "Access denied.",
            "content": {}
          },
          "405": {
            "description": "Request type was not GET.",
            "content": {}
          }
        }
      }
    },
    "/v5.0/dashboards/upload/meta": {
      "post": {
        "tags": [
          "Upload Dashboard"
        ],
        "summary": "Get Meta Info For Dashboard",
        "description": "Retrieve metadata for the downloaded dashboard files.",
        "operationId": "Dashboards_GetMetaInfo",
        "parameters": [
          {
            "name": "apiGetMetaInfo",
            "in": "body",
            "required": true,
            "description": "Dashboard Information",
            "schema": {
              "$ref": "#/definitions/ApiGetMetaInfo"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata for the given dashboard file has been retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ApiGetMetaInfoResponse"
            }
          },
          "400": {
            "description": "File content is empty.",
            "content": {}
          },
          "405": {
            "description": "Request type was not POST.",
            "content": {}
          },
          "406": {
            "description": "The content of the request body is invalid.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "apiGetMetaInfo"
      }
    },
    "/v5.0/dashboards/upload": {
      "post": {
        "tags": [
          "Upload Dashboard"
        ],
        "summary": "Upload Dashboard",
        "description": "Users who have created access to the dashboard can upload the dashboard.",
        "operationId": "Dashboards_UploadDashboard",
        "parameters": [
          {
            "name": "apiUploadDashboard",
            "in": "body",
            "required": true,
            "description": "The downloaded dashboard file content and meta information.",
            "schema": {
              "$ref": "#/definitions/ApiUploadDashboard"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard upload started.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "File content is empty.",
            "content": {}
          },
          "405": {
            "description": "Request type was not POST.",
            "content": {}
          },
          "406": {
            "description": "The content of the request body is invalid.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "apiUploadDashboard"
      },
      "put": {
        "tags": [
          "Upload Dashboard"
        ],
        "summary": "Update upload Dashboard",
        "description": "Users who have write access to the dashboard can update it.",
        "operationId": "Dashboards_UpdateUploadDashboard",
        "parameters": [
          {
            "name": "ApiUpdateUploadDashboard",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiUpdateUploadDashboard"
            },
            "description": "The details of the dashboard that was passed will be updated.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Dashboard update started.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete."
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "Item details not found."
          },
          "405": {
            "description": "Request type was not PUT"
          }
        }
      }
    },
    "/v5.0/dashboards/upload/job/{jobId}": {
      "get": {
        "tags": [
          "Upload Dashboard"
        ],
        "summary": "Upload Dashboard Status",
        "description": "Retrieve the status of an upload dashboard job.",
        "operationId": "Dashboard_GetUploadDashboardJobStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Upload Job ID",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Upload job status retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ApiUploadStatusResponse"
            }
          },
          "400": {
            "description": "Invalid job ID",
            "content": {}
          },
          "401": {
            "description": "Access denied.",
            "content": {}
          },
          "405": {
            "description": "Request type was not GET.",
            "content": {}
          }
        }
      }
    },
    "/v5.0/dashboards/{itemId}/move": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Move Dashboard",
        "description": "Move the Dashboard from one category to another category.",
        "operationId": "Dashboards_MoveDashboard",
        "parameters": [
          {
            "type": "string",
            "name": "itemId",
            "in": "path",
            "required": true,
            "description": "ID of the dashboard will be moved.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "apiMoveDashboard",
            "in": "body",
            "required": true,
            "description": "The provided dashboard will be moved to another category.",
            "schema": {
              "$ref": "#/definitions/ApiMoveDashboard"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The dashboard has been moved successfully.",
            "schema": {
              "$ref": "#/definitions/ApiMoveDashboardResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete.",
            "content": {}
          },
          "401": {
            "description": "Access denied. You don't have permission to move the dashboard.",
            "content": {}
          },
          "404": {
            "description": "Item details not found.",
            "content": {}
          },
          "405": {
            "description": "Request type was not POST.",
            "content": {}
          },
          "409": {
            "description": "Item name already exists.",
            "content": {}
          },
          "417": {
            "description": "Failed to move the dashboard.",
            "content": {}
          }
        }
      }
    },
    "/v5.0/dashboard/rename/{dashboardId}":{
      "put": {
          "tags" : [
              "Dashboard"
          ],
          "summary" : "Update Dashboard Name",
          "description": "Users who have write access to the dashboard can update the name of the dashboard.",
          "operationId": "Dashboards_UpdateDashboardName",
          "parameters":[
              {
                "name": "dashboardId",
                "in": "path",
                "description": "Dashboard ID.",
                "required" : true,
                "style": "simple",
                "explode": false,
                "schema": {
                    "type": "string",
                    "format": "guid",
                    "nullable": false
                 },
                 "x-nullable": true
              },
              {
                "name": "ApiUpdateDashboardName",
                "in": "body",
                "required": true,
                "description": "The name details provided will be updated for the specified dashboard.",
               "schema":{
                "$ref": "#/definitions/ApiUpdateDashboardName"
               }
              }
          ],
          "responses": {
              "200": {
                  "description": "DashboardName has been updated successfully.",
                  "schema":{
                    "$ref": "#/definitions/ApiResponse"
                  }
              },
              "400": {
                  "description" : "The content of the request body is missing or incomplete."
              },
              "401": {
                  "description": "Access denied"
              }, 
              "404": {
                "description": "Item details not found"
              },
              "405": {
                "description": "Request type was not PUT"
              },
              "406": {
                "description": "The content of the request body is invalid"
              },
              "409": {
                "description": "Item name already exists."
              }
          }
      }
    },
    "/v5.0/multi-tab": {
      "post": {
          "tags": [
              "Dashboard"
          ],
          "summary": "Add Multi-Tab Dashboard",
          "description": "Only users who have permission to create a dashboard are able to create new multi-tab dashboards within their permitted dashboards.",
          "operationId": "Dashboard_AddmultitabDashboard",
          "parameters": [
              {
                  "name": "apiAddmulti-tabDashboard",
                  "in": "body",
                  "required": true,
                  "schema": {
                      "$ref": "#/definitions/ApiAddmultitabDashboardRequest"
                  },
                  "description": "Details of the dashboards passed will be added.",
                  "x-nullable": true
              }
          ],
          "responses": {
              "200": {
                  "x-nullable": true,
                  "description": "Multi-tab dashboard has been added successfully.",
                  "schema": {
                      "$ref": "#/definitions/ApiResponse"
                  }
              },
              "400": {
                  "description": "The content of the request body is missing or incomplete"
              },
              "401": {
                  "description": "Access denied"
              },
              "404": {
                  "description": "Item details not found.",
                  "content": {}
              },
              "405": {
                  "description": "Request type was not POST"
              },
              "409": {
                  "description": "Item name already exists."
              }
          }
      }
    },
    "/v5.0/dashboards/{dashboardId}/unlist": {
      "put" : {
        "tags": [
          "Dashboard"
        ],
        "summary" : "Update Unlisting Dashboard",
        "description" : "Users with access to the dashboard and permission to manage can update the dashboard as unlisted.",
        "operationId": "Dashboards_UpdateUnlistDashboard",
        "parameters": [
          {
            "type": "string",
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "description": "Dashboard ID.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "name" : "ApiUpdateDashboardUnlist",
            "in" : "body",
            "required" : true,
            "description": "Unlisted value passed will be updated to the specified dashboard.",
            "schema" :{
              "$ref" : "#/definitions/ApiUpdateDashboardUnlist"
            },
            "x-nullable" : true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description" : "Dashboard marked unlist successfully.",
            "schema": {
              "$ref" : "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/v5.0/dashboards/drafts": {
      "post": {
        "tags": [
          "Draft Dashboard"
        ],
        "summary": "Add Draft Dashboard",
        "description": "Users who have access to create a dashboard can add the draft dashboard.",
        "operationId": "Dashboards_AddDraftDashboard",
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Draft dashboard detail.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Draft Dashboard has been created successfully.",
            "schema": {
              "$ref": "#/definitions/DraftItemDetail"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "403": {
            "description": "Access denied for the item"
          },
          "405": {
            "description": "Request type was not POST"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "409": {
            "description": "Item name already exists."
          }
        }
      },
      "get": {
        "tags": [
          "Draft Dashboard"
        ],
        "summary": "Get Draft Dashboards",
        "description": "Users who have created the draft dashboard can view the lists of draft dashboards.",
        "operationId": "Dashboards_GetDraftDashboard",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of draft dashboards has been retrieved successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApiItemsV4"
              }
            }
          },
          "204": {
            "description": "Items not found"
          },
          "401": {
            "description": "Access denied"
          },
          "403": {
            "description": "Access denied for the item"
          },
          "405": {
            "description": "Request type was not GET"
          }
        }
      }
    },
    "/v5.0/dashboards/drafts/{itemId}": {
      "put": {
        "tags": [
          "Draft Dashboard"
        ],
        "summary": "Update Draft Dashboard",
        "description": "Users who have created the draft dashboard are able to update the dashboard details.",
        "operationId": "Items_UpdateDraftItemDetail",
        "parameters": [
          {
            "type": "string",
            "name": "itemId",
            "in": "path",
            "required": true,
            "description": "ItemId of the draft dashboard.",
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "updateDraftItemDetail",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDraftItemDetail"
            },
            "description": "Details of the draft dashboard item.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Draft dashboard detail has been modified successfully.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "Item details not found"
          },
          "405": {
            "description": "Request type was not PUT"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "409": {
            "description": "Item name already exists."
          },
          "417": {
            "description": "Failed to update draft item details"
          }
        }
      }
    },
    "/v5.0/dashboards/views": {
      "post": {
        "tags": [
          "Dashboard Views"
        ],
        "summary": "Add Dashboard View",
        "description": "Users who have access to the dashboard can save a view by providing the proper dashboard filter details.",
        "operationId": "ItemViews_AddItemView",
        "parameters": [
          {
            "name": "apiItemViewsAdd",
            "in": "body",
            "required": true,
            "description": "Information about the dashboard filter for saving the view.",
            "schema": {
              "$ref": "#/definitions/ApiItemViewsAdd"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A view has been created successfully.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "Item details not found."
          },
          "405": {
            "description": "Request type was not POST"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "409": {
            "description": "View name already exists"
          },
          "417": {
            "description": "Failed to add view"
          }
        }
      },
      "put": {
        "tags": [
          "Dashboard Views"
        ],
        "summary": "Edit Dashboard View",
        "description": "Users who have created a view can edit the view by providing the proper dashboard filter details.",
        "operationId": "ItemViews_UpdateItemView",
        "parameters": [
          {
            "name": "apiItemViewsUpdate",
            "in": "body",
            "required": true,
            "description": "Please provide details about the dashboard filter for editing the view.",
            "schema": {
              "$ref": "#/definitions/ApiItemViewsUpdate"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A view has been updated successfully.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "Item details not found."
          },
          "405": {
            "description": "Request type was not PUT"
          },
          "406": {
            "description": "The content of the request body is invalid"
          },
          "409": {
            "description": "View name already exists"
          },
          "417": {
            "description": "Failed to edit view"
          }
        }
      }
    },
    "/v5.0/dashboards/views/{id}": {
      "delete": {
        "tags": [
          "Dashboard Views"
        ],
        "summary": "Delete Dashboard View",
        "description": "Users who have created a view can delete it.",
        "operationId": "ItemViews_ItemViewDelete",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "View ID",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "View ID invalid"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "Itemview is not active."
          },
          "405": {
            "description": "Request type was not DELETE"
          },
          "417": {
            "description": "Failed to delete view"
          }
        }
      },
      "get": {
        "tags": [
          "Dashboard Views"
        ],
        "summary": "Get Dashboard View by Id",
        "description": "Retrieve the detailed view for the current user.",
        "operationId": "ItemViews_ItemViewByViewId",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "View ID",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A view has been retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ApiItemViewResponse"
            }
          },
          "400": {
            "description": "View ID invalid"
          },
          "401": {
            "description": "Access denied"
          },
          "404": {
            "description": "View detail not found"
          },
          "405": {
            "description": "Request type was not GET"
          },
          "417": {
            "description": "Failed to get item view."
          }
        }
      }
    },
    "/v5.0/dashboards/{id}/views": {
      "get": {
        "tags": [
          "Dashboard Views"
        ],
        "summary": "Get Dashboard Views",
        "description": "Retrieve the list of views of the specific dashboard for the current user.",
        "operationId": "ItemViews_ItemViewsByItemId",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Dashboard ID",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Views have been retrieved successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApiItemViewResponse"
              }
            }
          },
          "204": {
            "description": "View list was empty"
          },
          "400": {
            "description": "Dashboard ID invalid"
          },
          "401": {
            "description": "Access denied"
          },
          "405": {
            "description": "Request type was not GET"
          },
          "417": {
            "description": "Failed to get views"
          }
        }
      }
    },
    "/v5.0/datasources": {
      "get": {
        "tags": [
          "DataSource"
        ],
        "summary": "Get Datasources",
        "description": "Users who have created the data source are able to view the lists of data sources.",
        "operationId": "DataSource_GetDataSources",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 1,
            "minimum": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Page size<br /> **Note**: For more details on pagination, refer to this [link](../api-reference/#section/Getting-Started/Pagination)",
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "default": 25,
            "minimum": 1,
            "maximum": 100
          },
          {
            "type": "string",
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search Keyword<br />Keyword searched in <code>Name, Description, CreatedByDisplayName</code>",
            "x-nullable": true,
            "example": "  sales "
          },
          {
            "type": "string",
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sorting type. Values allowed are <code>+(ascending), -(descending)</code>",
            "x-nullable": true,
            "example": "  + "
          }
        ],
        "responses": {
          "200": {
            "type": "array",
            "description": "List of datasources has been retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PaginatedApiResponse"
            }
          },
          "204": {
            "description": "Items not found"
          },
          "400": {
            "description": "Page does not exists."
          },
          "401": {
            "description": "Access denied"
          },
          "403": {
            "description": "Access denied for the item"
          },
          "405": {
            "description": "Request type was not GET"
          }
        }
      },
      "post": {
        "tags": [
          "DataSource"
        ],
        "summary": "Create Data Source",
        "description": "Create a data source.",
        "operationId": "DataSource_CreateDataSource",
        "parameters": [
          {
            "name": "apiDataSourceConnectionAdd",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiDataSourceAttribute"
            },
            "description": "The following documentation explains how a user can create a data source using the API.",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "The data source has been created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/WebAPItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Item name is empty",
            "content": {}
          },
          "401": {
            "description": " Unauthorized.",
            "content": {}
          },
          "404": {
            "description": "Requested resource is not found.",
            "content": {}
          },
          "409": {
            "description": "Item name already exists.",
            "content": {}
          },
          "411": {
            "description": "Content-length is required.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "DataSource"
        ],
        "summary": "Update Data Source",
        "description": "Update an existing data source on a specific site. \n\n **Note**: The Update data source API is only applicable for a live SQL data source.",
        "operationId": "DataSource_UpdateDataSource",
        "parameters": [
          {
            "name": "apiUpdateDataSourceV4",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiUpdateDataSourceAttribute"
            },
            "description": "Details about the passed data source will be updated.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "The data source has been updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/WebAPItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Item name is empty",
            "content": {}
          },
          "401": {
            "description": " Unauthorized.",
            "content": {}
          },
          "404": {
            "description": "Requested resource is not found.",
            "content": {}
          },
          "409": {
            "description": "Item name already exists.",
            "content": {}
          },
          "411": {
            "description": "Content-length is required.",
            "content": {}
          }
        }
      }
    },
    "/v5.0/datasources/{datasourceId}": {
      "get": {
        "tags": [
          "DataSource"
        ],
        "summary": "Get Datasource by Id",
        "description": "Users who have created the data source are able to view the details of the data source.",
        "operationId": "DataSource_GetDataSource",
        "parameters": [
          {
            "type": "string",
            "name": "datasourceId",
            "in": "path",
            "required": true,
            "description": "Datasource ID",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Data source detail was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ApiDataSourceSpecifiedItemDetail"
            }
[...]
