{
  "swagger" : "2.0",
  "info" : {
    "title" : "API Reference",
    "version" : "1.0"
  },
   "host" : "onpremise-demo.boldbi.com",
  "basePath" : "/api",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "tags" : [ {
    "name" : "Authentication"
  }],
  "securityDefinitions" : {
    "Bearer" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "security" : [ {
    "Bearer" : [ ]
  } ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate Client",
		"description": "For information on how to retrieve the client ID and secret for the REST API, please refer to [this](/multi-tenancy/site-administration/api-keys/) documentation.",
        "operationId": "client_authentication",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "type" : "string",
          "name" : "grant_type",
          "in" : "formData",
          "required" : true,
          "x-nullable" : false,
          "description" : "The type of credentials used to authorize the request for an access token.<br />Value allowed is <code>client_credentials</code>"
        }, {
          "type" : "string",
          "name" : "client_id",
          "in" : "formData",
          "required" : true,
          "x-nullable" : false,
          "description" : "Client ID of the internal app."
        }, {
          "type" : "string",
          "name" : "client_secret",
          "in" : "formData",
          "required" : true,
          "x-nullable" : false,
          "description" : "Client secret of the internal app."
        } ],
        "responses": {
          "200": {
            "description": "Successfully retrived access token.",
            "schema": {
              "$ref": "#/definitions/Response"
            },
            "x-nullable": true
          },
          "400": {
            "description": "Only grant_type=client_credentials requests are accepted by this server."
          },
          "401": {
            "description": "Invalid client_id or client_secret"
          },
          "405": {
            "description": "Request type was not POST"
          }
        }
      }
    },
    "/v1.0/startup": {
      "post": {
        "tags": [
          "Application Startup"
        ],
        "summary": "Application Startup",
        "description": "Configure the application startup for Bold BI/Bold Reports application.",
        "operationId": "application_startup",
        "parameters": [
          {
            "name": "Startup",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Startup"
            },
            "description": "configuration request data.",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant added successfully.",
                "schema": {
                  "$ref": "#/definitions/ApiResponse"
                }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete.",
            "content": {}
          },
          "401": {
            "description": "Access denied.",
            "content": {}
          },
          "405": {
            "description": "Request type was not POST.",
            "content": {}
          },
          "406": {
            "description": "The content of the request body is invalid.",
            "content": {}
          },
          "417": {
            "description": "Failed to add tenant.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "startup"
      }
    },
    "/v1.0/tenants": {
      "post": {
        "tags": [
          "Tenants"
        ],
        "summary": "Create New Tenant",
        "description": "Create a new Bold BI / Bold Reports tenant.",
        "operationId": "create_tenant",
        "parameters": [
          {
            "name": "AddTenantV1",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTenantV1"
            },
            "description": "Add tenant request body.",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant added successfully.",
                "schema": {
                  "$ref": "#/definitions/ApiResponse"
                }
          },
          "400": {
            "description": "The content of the request body is missing or incomplete.",
            "content": {}
          },
          "401": {
            "description": "Access denied.",
            "content": {}
          },
          "405": {
            "description": "Request type was not POST.",
            "content": {}
          },
          "406": {
            "description": "The content of the request body is invalid.",
            "content": {}
          },
          "417": {
            "description": "Failed to add tenant.",
            "content": {}
          }
        }
      }
    }
  },
  "definitions": {
    "Response": {
      "type": "object",
      "properties": {
        "token_type": {
          "type": "string",
          "description": "Type of token assigned by the authorization server."
        },
        "access_token": {
          "type": "string",
          "description": "Authentication token of the client."
        },
        "expires_in": {
          "type": "string",
          "description": "The lifetime in seconds of the access token."
        },
        "clientId": {
          "type": "string",
          "description": "Client ID of the internal app."
        },
        "TenantStatus": {
          "type": "string",
          "description": "Status of the client."
        },
        ".confidentiality_level": {
          "type": "string",
          "description": "Level of token confidentiality."
        },
        ".issued": {
          "type": "string",
          "description": "Authorization token issued date/time."
        },
        ".expires": {
          "type": "string",
          "description": "Authorization token expires on date/time."
        }
      },
      "x-typeName": "Response"
    },
    "ApiResponse": {
      "required": [
        "ApiStatus",
        "Status"
      ],
      "type": "object",
      "properties": {
        "ApiStatus": {
          "type": "boolean",
          "description": "Returns the status of the API."
        },
        "Data": {
          "type": "object",
          "description": "Returns data from the API."
        },
        "Status": {
          "type": "boolean",
          "description": "Returns status of the API request."
        },
        "StatusMessage": {
          "type": "string",
          "description": "Returns the status message from the API."
        },
        "Message": {
          "type": "string",
          "description": "Returns the message from the API."
        }
      }
    },
    "Authentication": {
      "required": [
        "grant_type",
        "client_id",
        "client_secret"
      ],
      "properties": {
        "grant_type": {
          "type": "string",
          "description": "The type of credentials used to authorize the request for an access token.<br />Value allowed is <code>client_credentials</code>",
          "nullable": false
        },
        "client_id": {
          "type": "string",
          "description": "Client ID of the internal app.",
          "nullable": false
        },
        "client_secret": {
          "type": "string",
          "description": "Client secret of the internal app..",
          "nullable": false
        }
      }
    },
    "Startup": {
      "type": "object",
      "description": "Startup Configuration object details.",
      "additionalProperties": false,
      "properties": {
        "ServerConfiguration": {
          "$ref": "#/definitions/ServerConfiguration"
        },
        "UmsConfiguration": {
          "$ref": "#/definitions/UmsConfiguration"
        },
        "DataStoreConfiguration": {
          "$ref": "#/definitions/DataStoreConfiguration"
        }
      }
    },
    "AddTenantV1": {
      "type": "object",
      "description": "site detail",
      "additionalProperties": false,
      "required": [
        "DatabaseType",
        "DbConnectionString",
        "EmailDomain",
        "TenantName",
        "TenantIdentifier",
        "TenantType",
        "StorageType"
      ],
      "properties": {
        "DatabaseType": {
          "description": "Database type of the server.",
          "$ref": "#/definitions/DatabaseType"
        },
        "DbConnectionString": {
          "type": "string",
          "description": "Database connection string of the server.<ul><li>MSSQL - Data Source=;Initial Catalog=;User ID=;Password=;Encrypt=False</li><li>Postgre SQL - Host=;Port=5432;Database=;Username=;Password=;SSL Mode=Require</li><li>MySql - Server=;Database=;User Id=;Password=;SSL Mode=Required</li></ul>"
        },
        "IsNewDatabase": {
          "type": "boolean",
          "default": "false",
          "description": "Determines whether to create a new database or connect to an existing database specified by the <code>DatabaseName</code> parameter. "
        },
        "MaintenanceDataBase": {
          "type": "string",
          "description": "Maintenance dataBase of the database server."
        },
        "EmailDomain": {
          "type": "string",
          "description": "Email address of the user."
        },
        "TenantName": {
          "type": "string",
          "description": "Tenant name of the site."
        },
        "TenantIdentifier": {
          "type": "string",
          "description": "Tenant identifier of the site."
        },
        "TenantType": {
          "description": "Database type of the server.",
          "$ref": "#/definitions/TenantType"
        },
        "StorageType": {
          "description": "Database type of the server.",
          "$ref": "#/definitions/StorageType"
        },
        "AzureData": {
          "type": "string",
          "description": "Azure Blob storage data."
        },
        "DataStoreConfiguration": {
          "$ref": "#/definitions/DataStoreConfiguration"
        },
        "IsTenantIsolationCodeEnabled": {
          "type": "boolean",
          "default": "false",
          "description": "Enable or disable the Isolation Code. <br/><blockquote>required to create <code>BoldBIOnPremise</code> tenants only.</blockquote>"
        },
        "TenantIsolationCode": {
          "type": "string",
          "description": "Isolation code. <br/><blockquote>required to create <code>BoldBIOnPremise</code> tenants only.</blockquote>"
        },
        "CustomAttribute": {
          "type": "array",
          "description": "Custom site attributes.",
          "items": {
          "$ref": "#/definitions/CustomAttribute"
        }
        }
      }
    },
    "DataStoreConfiguration": {
      "type": "object",
      "description": "Data store configuration of the site <blockquote>required to create <code>BoldBIOnPremise</code> tenants only.</blockquote>",
      "additionalProperties": false,
      "required": [
        "ServerName",
        "DatabaseName",
        "UserName",
        "Password",
        "ServerType"
      ],
      "properties": {
        "ServerName": {
          "type": "string",
          "description": "Name of the database server."
        },
        "DatabaseName": {
          "type": "string",
          "description": "Name of the database."
        },
        "UserName": {
          "type": "string",
          "description": "Username of the database server.  <br /> <blockquote>Check the permission required for the database users [here](/faq/what-are-the-database-permissions-required-to-set-up-bold-bi-embedded/)</blockquote>"
        },
        "Password": {
          "type": "string",
          "description": "Password of the database user."
        },
        "IsNewDatabase": {
          "type": "boolean",
          "default": "false",
          "description": "Determines whether to create a new database or connect to an existing database specified by the <code>DatabaseName</code> parameter. "
        },
        "MaintenanceDatabase": {
          "type": "string",
          "description": "Maintenance database of the database server.<br /> <blockquote>Required only for <code>PostgreSQL</code> database server.</blockquote>"
        },
        "Port": {
          "type": "string",
          "description": "Port number of the database server.<br /><blockquote>Required only for <code>PostgreSQL</code> and <code>MySQL</code> database servers.</blockquote>"
        },
        "ServerType": {
          "description": "Database type of the server.",
          "$ref": "#/definitions/DatabaseType"
        },
		"SslEnabled":
		  {
			  "type": "boolean",
			  "default": "false",
            "description": "Determines whether the encrypted connection to the database server is required. "
		  },
		   "AdditionalParameters": 
		  {
			"type": "string",
            "description": "Additional parameters for connecting to the database server."
		  }
      }
    },
    "Database": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "ServerName",
        "DatabaseName",
        "UserName",
        "Password",
        "ServerType"
      ],
      "properties": {
        "ServerName": {
          "type": "string",
          "description": "Name of the database server."
        },
        "DatabaseName": {
          "type": "string",
          "description": "Name of the database."
        },
        "UserName": {
          "type": "string",
          "description": "Username of the database server.  <br /> <blockquote>Check the permission required for the database users [here](/faq/what-are-the-database-permissions-required-to-set-up-bold-bi-embedded/)</blockquote>"
        },
        "Password": {
          "type": "string",
          "description": "Password of the database user."
        },
        "IsNewDatabase": {
          "type": "boolean",
          "default": "false",
          "description": "Determines whether to create a new database or connect to an existing database specified by the <code>DatabaseName</code> parameter. "
        },
        "MaintenanceDatabase": {
          "type": "string",
          "description": "Maintenance database of the database server.<br /> <blockquote>Required only for <code>PostgreSQL</code> database server.</blockquote>"
        },
        "Port": {
          "type": "string",
          "description": "Port number of the database server.<br /><blockquote>Required only for <code>PostgreSQL</code> and <code>MySQL</code> database servers.</blockquote>"
        },
        "ServerType": {
          "description": "Database type of the server.",
          "$ref": "#/definitions/DatabaseType"
        },
		"SslEnabled":
		  {
			  "type": "boolean",
			  "default": "false",
            "description": "Determines whether the encrypted connection to the database server is required. "
		  },
		   "AdditionalParameters": 
		  {
			"type": "string",
            "description": "Additional parameters for connecting to the database server."
		  }
      }
    },
    "UmsConfiguration": {
      "type": "object",
      "description": "Site administration configuration data.",
      "additionalProperties": false,
      "required": [
        "Database",
        "Storage",
        "User",
        "Unlockkey"
      ],
      "properties": {
        "Database": {
          "$ref": "#/definitions/Database"
        },
        "Storage": {
          "$ref": "#/definitions/Storage"
        },
        "User": {
          "$ref": "#/definitions/User"
        },
        "Unlockkey": {
          "type": "string",
          "description": "Unlock key for the Bold BI/Reports application."
        }
      }
    },
    "ServerConfiguration": {
      "type": "object",
      "description": "Site configuration data.",
      "additionalProperties": false,
      "required": [
        "Database",
        "Storage",
        "Site"
      ],
      "properties": {
        "Database": {
          "$ref": "#/definitions/Database"
        },
        "Storage": {
          "$ref": "#/definitions/Storage"
        },
        "Site": {
          "$ref": "#/definitions/Site"
        }
      }
    },
    "Storage": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "StorageType"
      ],
      "properties": {
        "StorageType": {
          "description": "Storage type.",
          "$ref": "#/definitions/StorageType"
        },
        "AzureBlob": {
          "description": "Azure Blob data.",
          "$ref": "#/definitions/AzureBlob"
        }
      }
    },
    "StorageType": {
		  "description": "0 - FileStorage, 1 - AzureBlob",
        "type": "enum",
        "enum": [
          0,
          1
        ],
        "x-enumNames": [
          "FileStorage",
          "AzureBlob"
        ]
      },
      "DatabaseType": {
		   "description": "0 - MSSQL, 1 - MySQL, 4 - PostgreSQL",
        "type": "enum",
        "enum": [
          0,
          1,
          4
        ],
        "x-enumNames": [
          "MSSQL",
          "MySQL",
          "PostgreSQL"
        ]
      },
      "TenantType": {
		  "description": "3 - BoldBIOnPremise, 4 - BoldReportsOnPremise",
        "type": "enum",
        "enum": [
          3,
          4
        ],
        "x-enumNames": [
          "BoldBIOnPremise",
          "BoldReportsOnPremise"
        ]
      },
    "AzureBlob": {
      "type": "object",
      "description": "Required only if the storage type is <code>AzureBlob</code>",
      "additionalProperties": false,
      "required": [
        "AzureBlobStorageContainerName",
        "AzureBlobStorageUri",
        "AccountName",
        "AccessKey"
      ],
      "properties": {
        "AzureBlobStorageContainerName": {
          "type": "string",
          "description": "Azure Blob storage container Name."
        },
        "AzureBlobStorageUri": {
          "type": "string",
          "description": "Azure Blob storage URI."
        },
        "ConnectionString": {
          "type": "string",
          "description": "Connection string of the blob."
        },
        "ConnectionType": {
          "type": "string",
          "description": "Connection type.<ul><li><code>http</code></li><li><code>https</code></li></ul>"
        },
        "AccountName": {
          "type": "string",
          "description": "Account name of the blob."
        },
        "AccessKey": {
          "type": "string",
          "description": "Access key of the blob"
        }
      }
    },
    "Site": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "TenantName",
        "TenantIdentifier",
        "TenantType"
      ],
      "properties": {
        "TenantName": {
          "type": "string",
          "description": "Name of the site."
        },
        "TenantIdentifier": {
          "type": "string",
          "description": "Identifier of the site."
        },
        "UseSiteIdentifier": {
          "type": "boolean",
          "description": "Decides whether we need to use or ignore the site identifier. If the site identifier is ignored, unique domain should be used for each site."
        },
        "TenantType": {
          "description": "Tenant type of the site.",
          "$ref": "#/definitions/TenantType"
        },
        "UseCustomBranding": {
          "type": "boolean",
          "description": "Decides to use branding details from ID."
        },
        "CustomAttribute": {
          "type": "array",
          "description": "Custom site attributes.",
          "items": {
          "$ref": "#/definitions/CustomAttribute"
        }
        },
        "TenantIsolation": {
          "description": "Tenant isolation code.",
          "$ref": "#/definitions/TenantIsolation"
        }
      }
    },
    "TenantIsolation": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
        "IsEnabled": {
          "type": "boolean",
          "description": "Enable or disable the Isolation Code."
        },
        "IsolationCode": {
          "type": "string",
          "description": "Isolation code."
        }
      }
    },
    "User": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "Email",
        "FirstName",
        "UserName",
        "LastName",
        "Password"
      ],
      "properties": {
        "Email": {
          "type": "string",
          "description": "Email address of the user."
        },
        "FirstName": {
          "type": "string",
          "description": "First name of the user."
        },
        "UserName": {
          "type": "string",
          "description": "Username."
        },
        "LastName": {
          "type": "string",
          "description": "Last name of the user."
        },
        "Password": {
          "type": "string",
          "description": "Password of the user. <br /><blockquote>Note: Password must meet the following requirements. It must contain,</blockquote><ul><li><code>At least 6 characters</code></li><li><code>1 uppercase character</code></li><li><code>1 lowercase character</code></li><li><code>1 numeric character</code></li><li><code>1 special character</code></li></ul>"
        }
      }
    },
    "CustomAttribute": {
      "type": "object",
      "required": [
        "Name",
        "Value",
        "Description",
        "CanEncrypt"
      ],
      "properties": {
        "Name": {
          "type": "string",
          "description": "Name of the site attribute."
        },
        "Value": {
          "type": "string",
          "description": "Value for the site attribute."
        },
        "Description": {
          "type": "string",
          "description": "Description of the attribute."
        },
        "CanEncrypt": {
          "type": "boolean",
          "description": "Decides to encrypt the site attribute data."
        }
      }
    }
  },
  "parameters": {},
  "responses": {}
}